@model List<MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductAttributeOption>
<div class="product-filter-box-title">
    Filter by Options
</div>
<div class="row-fluid">
    <ul id="product-filter-box-options" class="nav nav-tabs nav-stacked ">
        @foreach (var option in Model)
        {
            if (option.Values.Select(x => x.Value).Distinct().Any())
            {
            <li>
                @option.Name
                <br />
                <select id="@(Html.Encode("product-option-values-" + option.Name))" class="span12">
                    <option value="0">All</option>
                    @foreach (var optionValue in option.Values.Select(x => x.Value).Distinct())
                    {
                        <option value="@Html.Encode(option.Name + optionValue)">@optionValue</option>
                    }
                </select>
            </li>
            }
        }
    </ul>
</div>
