@model List<MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductSpecificationAttribute>
           <div class="product-filter-box-title">
            Filter by Specifications
        </div>
<div class="row-fluid">

    <ul id="product-filter-box-specifications" class="nav nav-tabs nav-stacked ">
        @foreach (var specification in Model)
        {
            if (specification.Options.Select(x => x.ProductSpecificationAttribute).Distinct().Any())
            {
                <li>
                    @specification.Name
                    <br />
                    <select id="@(Html.Encode("product-specification-values-" + specification.Name))" class="span12">
                        <option value="0">All</option>
                        @foreach (var specificationValue in specification.Options.Select(x => x.ProductSpecificationAttribute).Distinct())
                        {
                            <option value="@(specification.Name + ":" + specificationValue)">@specificationValue</option>
                        }
                    </select>
                </li>
            }
        }
    </ul>
</div>
