@using MrCMS.Web.Apps.Ecommerce.Services.Products
@model List<MrCMS.Web.Apps.Ecommerce.Models.ProductOptionModel>
@{ var query = ViewData["query"] as ProductSearchQuery;}
@if (Model.Any())
{
    <div class="product-filter-box-title">
        Filter by Specifications
    </div>
    <div class="row-fluid">
        <ul id="product-filter-box-specifications" class="nav nav-tabs nav-stacked">
            @foreach (var specification in Model)
            {
                <li>
                    <label for="specifications-@specification.Id">@specification.Name</label>
                    <select name="Specifications" id="specifications-@specification.Id" class="span12">
                        <option value="">All</option>
                        @foreach (var option in specification.Values)
                        {

                            <option value="@option.Id"@(query.Specifications.Contains(option.Id) ? " selected=\"selected\"" : string.Empty)>
                                @option.Name
                            </option>
                        }
                    </select>
                </li>
            }
        
        </ul>
    </div>
}