@model dynamic
<div id="search-box">
    <div class="row-fluid">
        <div class="span8">
            <input type="text" class="span12 search-input" placeholder="e.g : Shorts" id="searchTerm" name="searchTerm" value="@ViewBag.SearchTerm" />
        </div>
        <div class="span4">
            <button class="btn span12" type="button" id="searchButton" name="searchButton">Search</button>
        </div>
    </div>
</div>
