@using MrCMS.Web.Apps.Ecommerce.Services.Products
@model List<MrCMS.Web.Apps.Ecommerce.Models.ProductOptionModel>
@{ var query = ViewData["query"] as ProductSearchQuery;}

<div class="product-filter-box-title">
    Filter by Options
</div>
<div class="row-fluid">
    <ul id="product-filter-box-options" class="nav nav-tabs nav-stacked ">
        @foreach (var option in Model)
        {
            if (option.Values.Any())
            {
            <li>
                <label for="options-@option.Id">@option.Name</label>
                <select name="Options" id="options-@option.Id" class="span12">
                    <option value="">All</option>
                    @foreach (var optionValue in option.Values)
                    {
                        <option value="@optionValue.Id"@(query.Options.Contains(optionValue.Id) ? " selected=\"selected\"" : string.Empty)>
                            @optionValue.Name
                        </option>
                    }
                </select>
            </li>
            }
        }
    </ul>
</div>
