@using MrCMS.Helpers
@model dynamic
@if (MrCMS.Website.CurrentRequestData.CurrentUser != null)
{
    <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.UserLogin>() + "?logout=true")">Logout</a><span> | </span>
    <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.UserAccount>())">My Account</a>
}
else
{
    <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.UserLogin>())">Login</a><span> | </span>
    <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.UserRegistration>())">Register</a>
}