@model MrCMS.Web.Apps.Ecommerce.Entities.Geographic.Region
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Delete", "Region", FormMethod.Post))
{
    <fieldset>
        <legend>
            Delete Region
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Delete region" />
            </span>
        </legend>
        <p>
            Are you sure you want to delete the region @Model.Name ? Deleting this region can not be undone.
        </p>
    </fieldset>
}