@model MrCMS.Web.Apps.Ecommerce.Entities.Geographic.Region
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Edit", "Region", FormMethod.Post))
{
    <fieldset>
        <legend>
            Edit Region
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Edit Region" />
            </span>
        </legend>

        @Html.LabelFor(region => region.Name)
        @Html.TextBoxFor(region => region.Name)

    </fieldset>
}