@using MrCMS.Web.Apps.Ecommerce.Models
@using MrCMS.Website
@model CartModel
<div class="row-fluid margin-bottom-20">
    <div class="span8">
        <div class="border-grey checkout-index">
            <div class="sub-header grey-background">
                Email
            </div>
            <div class="padding-20">
                @if (CurrentRequestData.CurrentUser == null)
                {
                    Html.RenderPartial("SetOrderEmailAndLogin", new EmailAndLoginModel {OrderEmail = Model.OrderEmail});
                }
                else
                {
                    using (Html.BeginForm("SetOrderEmail", "EnterOrderEmail", FormMethod.Post))
                    {
                        <p>Enter your Email address <span class="red">*</span> :</p>
                        <div class="row-fluid">
                            @Html.TextBoxFor(x => x.OrderEmail, new { @class = "span6" })
                            @Html.ValidationMessageFor(x => x.OrderEmail)
                        </div>
                        <div class="row-fluid">
                            <input class="btn red-gradient span4" type="submit" id="continue" name="continue" value="Continue" />
                        </div>
                    }

                }
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="span4 border-top-grey">
        @{Html.RenderAction("Summary", "Checkout");}
    </div>
</div>