@using MrCMS.Web.Apps.Ecommerce.Entities.Products
@using MrCMS.Web.Apps.Ecommerce.Helpers
@model MrCMS.Web.Apps.Ecommerce.Pages.Product  
@{
    var selectedVariant = ViewData["selected-variant"] as ProductVariant ?? Model.VariantsByPrice.First();
}
<!-- price breaks start -->
@if (selectedVariant.PriceBreaks.Any())
{
    <div id="product-variants-pricebreaks" class="row-fluid">
        <div class="span12">
            <div class="block-header">
                PRICE BREAKS - The more you buy, the more you save.
            </div>
            <div class="block-container padding-left-right-10">
                <div class="row-fluid dashed-border-bottom padding-top-5 mobile-two-column">
                    <div class="span6">
                        Quantity
                    </div>
                    <div class="span6 text-align-right">
                        Price
                    </div>
                </div>
                @foreach (var item in selectedVariant.PriceBreaks)
                {
                    <div class="row-fluid dashed-border-bottom padding-top-5 mobile-two-column">
                        <div class="span6">
                            @item.Quantity +
                        </div>
                        <div class="span6 text-align-right">
                            @item.Price.ToCurrencyFormat()
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
}
<!-- price breaks end -->