@using System.Drawing
@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Pages.Product
@if (Model.Images.Any())
{
    <div class="row-fluid">
        <div class="span12 border-each text-align-center">
            <ul id="pikame">
                @foreach (var item in Model.Images)
                {
                    <li class="@(Model.Images.Count() == 1 ? "hideproductimage" : "")">
                        <a href="#">@Html.RenderImage(item.FileUrl, new Size{Height = 250,Width = 250}, Model.Name)</a>
                    </li>
                }
            </ul>
        </div>
    </div>
}