@model MrCMS.Web.Apps.Ecommerce.Entities.DiscountLimitations.CartSubtotalGreaterThanX
<div class="form-group">
    @Html.LabelFor(x => x.OrderTotalGreaterThanValue)
    @Html.TextBoxFor(x => x.OrderTotalGreaterThanValue, new { @class = "form-control" })
</div>