@model MrCMS.Web.Apps.Ecommerce.Entities.DiscountLimitations.ItemHasSKU
<div class="form-group">
    @Html.LabelFor(x => x.SKU)
    @Html.TextBoxFor(x => x.SKU, new { @class = "form-control" })
</div>
