@model MrCMS.Web.Apps.Ecommerce.Entities.DiscountLimitations.ItemIsInCategory
<div class="form-group">
    @Html.LabelFor(x => x.CategoryId)
    @Html.TextBoxFor(x => x.CategoryId, new { @class = "form-control" })
</div>
