@model MrCMS.Web.Apps.Ecommerce.Entities.NewsletterBuilder.ContentItems.ContentItem
@{ 
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm("DeleteContentItem", "Newsletter", FormMethod.Post))
{
    <fieldset>
        <legend>Delete Content Item
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn btn-danger" value="Delete" />
            </span>
        </legend>
        @Html.HiddenFor(x => x.Id)
        <p>
            Are you sure you want to delete the content item? Deleting this item can not be undone.
        </p>
    </fieldset>
}