@model MrCMS.Web.Apps.Ecommerce.Pages.OrderPlaced
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Entities.Orders
@{
    var order = ViewData["order"] as Order;
}

<div class="row-fluid margin-bottom-20">
    <div class="span8">
        <div class="border-grey margin-bottom-20">
            <div class="sub-header grey-background">
                Thank you, your order has been received
            </div>
            <div class="padding-20">
                <p>
                    Your order ID : <span class="green">@order.Id</span>
                </p>
                <p>
                    Complete order details have been emailed to @order.OrderEmail
                </p>
                <div class="complete-text">
                    your order is complete
                    <img src="/Themes/Ryness/Content/Images/checkout/large-tick.png" alt="tick"/>
                </div>
            </div>
        </div>

        <div class="border-grey margin-bottom-20">
            <div class="sub-header grey-background">
                Would you like us to remember your details for next time?
            </div>
            <div class="padding-20">
                <p>
                    Simply enter a password :
                </p>
                @using (Html.BeginForm("RegistrationWithoutDetails", "UserAccount", null, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    @Html.Hidden("Email", order.OrderEmail)
                    <div class="row-fluid">
                        <input type="text" name="Password" class="span6" />
                    </div>
                    <br/>
                    <div class="row-fluid">
                        <input type="submit" class="btn red-gradient span4" value="Continue" />
                    </div>
                }
            </div>
        </div>

        <div class="border-grey padding-20 tablet-continue">
            <div class="row-fluid">
                <div class="span4">
                    <div class="row-fluid">
                        <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.ProductSearch>())" class="btn white-gradient span12">Return to shop</a>
                    </div>
                </div>
                <div class="span4">
                    <a href="/returns-policy" class="btn white-gradient span12">Delivery & returns info</a>
                </div>
            </div>
        </div>

    </div>

    <div class="span4 border-top-grey">
    </div>
</div>