@model MrCMS.Web.Apps.Ecommerce.Pages.OrderPlaced
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Core.Models
@using MrCMS.Web.Apps.Core.Pages
@using MrCMS.Web.Apps.Ecommerce.Controllers
@using MrCMS.Web.Apps.Ecommerce.Entities.Orders
@using MrCMS.Web.Apps.Ecommerce.Models
@using MrCMS.Website
@{
    var order = ViewData["order"] as Order;
    var emailRegistrationStatus = ViewData["user-can-register"] is EmailRegistrationStatus ? (EmailRegistrationStatus)ViewData["user-can-register"] : EmailRegistrationStatus.Available;
}

<div class="row-fluid margin-bottom-20">
    <div class="span8">
        <div class="border-grey margin-bottom-20">
            <div class="sub-header grey-background">
                Thank you, your order has been received
            </div>
            <div class="padding-20">
                <p>
                    Your order ID : <span class="green">@order.Id</span>
                </p>
                <p>
                    Complete order details have been emailed to @order.OrderEmail
                    @if (order.User != null)
                    {
                        <text>and current order status can be viewed in </text><a href="@(UniquePageHelper.GetUrl<UserAccountPage>())">your account</a>
                    }
                </p>
                <div class="complete-text">
                    your order is complete
                    <img src="/Themes/Ryness/Content/Images/checkout/large-tick.png" alt="tick" />
                </div>
            </div>
        </div>

        @switch (emailRegistrationStatus)
        {
            case EmailRegistrationStatus.EmailInUse:
                Html.RenderPartial("LoginAndAssociateOrder", new LoginModel { Email = order.OrderEmail });
                break;
            case EmailRegistrationStatus.Available:
                Html.RenderPartial("RegisterAndAssociateOrder", new RegisterModel { Email = order.OrderEmail, FirstName = order.BillingAddress.FirstName, LastName = order.BillingAddress.LastName });
                break;
        }
        <div class="border-grey padding-20 tablet-continue">
            <div class="row-fluid">
                <div class="span4">
                    <div class="row-fluid">
                        <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.ProductSearch>())" class="btn white-gradient span12">Return to shop</a>
                    </div>
                </div>
                <div class="span4">
                    <a href="/returns-policy" class="btn white-gradient span12">Delivery & returns info</a>
                </div>
            </div>
        </div>

    </div>

    <div class="span4 border-top-grey">
    </div>
</div>
