@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Models
@model MrCMS.Web.Apps.Ecommerce.Pages.PaymentDetails
@{ var cart = ViewData["cart"] as CartModel;}
@{ var settingBillingAddress = ViewData["setting-billing-address"] is bool && (bool) ViewData["setting-billing-address"] ||
                               (!cart.BillingAddressSameAsShippingAddress &&
                                cart.BillingAddress == null);}
<div class="row-fluid margin-bottom-20">
    <div class="span8">
        <div class="border-grey margin-bottom-20">
            <div class="sub-header grey-background">
                Billing Address
            </div>
            <div class="padding-20">
                @if (cart.BillingAddressSameAsShippingAddress)
                {
                    <div class="row-fluid">
                        <div class="span3">
                            @using (Html.BeginForm("BillingAddressSameAsShippingAddress", "PaymentDetails", FormMethod.Post))
                            {
                                <label class="checkbox">
                                    @Html.CheckBox("SameAsShipping", cart.BillingAddressSameAsShippingAddress)
                                    Use delivery address : 
                                </label>
                            }
                        </div>
                        <div class="span9">
                            @cart.ShippingAddress.GetDescription()
                        </div>
                    </div>
                }
                <div class="row-fluid">
                    @if (settingBillingAddress)
                    {
                        Html.RenderAction("SetBillingAddress", "PaymentDetails");
                    }
                    else if (!cart.BillingAddressSameAsShippingAddress && cart.BillingAddress != null)
                    {
                        <div class="span2 align-right line-height-30">
                            Address :
                        </div>
                        <div class="span10">
                            <div class="row-fluid line-height-30">
                                @cart.BillingAddress.GetDescription()
                            </div>
                        </div>
                        
                        using (Html.BeginForm("UpdateBillingAddress", "PaymentDetails", FormMethod.Post))
                        {
                        <div class="span2 align-right line-height-30">
                        </div>
                        <div class="span10">
                            <div class="row-fluid padding-top-5">
                                <input class="btn white-gradient" value="Edit" type="submit" />
                            </div>
                        </div>
                        }
                    }
                </div>
            </div>
        </div>

        @if (!settingBillingAddress)
        {
            Html.RenderPartial("SelectMethod", cart);
            <div id="payment-confirmation">
                @if (!string.IsNullOrWhiteSpace(cart.PaymentMethod))
                {
                    Html.RenderAction(cart.PaymentMethod, "PaymentMethod");
                }
            </div>
        }
        else
        {
            <p>Select after updating billing address...</p>
        }
        <p class="cardtext">
            You may be taken to your card issuer’s website for card validation. You will be returned to Ryness once the process is complete.
        </p>
    </div>

    <div class="span4 border-top-grey">
        @{Html.RenderAction("Summary", "Checkout");}

        @{Html.RenderAction("OrderEmail", "Checkout");}

        @{Html.RenderAction("DeliveryDetails", "Checkout");}
    </div>
</div>
@{ Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/payment-details.js"); }