@using MrCMS.Helpers
@model MrCMS.Web.Apps.Amazon.Models.AmazonListingModel
@{
    ViewBag.Title = "Choose Product Variant for new Amazon Listing";
}
@Html.HiddenFor(x => x.AmazonListingGroup.Id)


<fieldset>
    <legend>Choose Product Variant for new Amazon Listing
        <span class="btn-group  display-inline  pull-right">
            @Html.ActionLink("Cancel", "Edit", "ListingGroup", new {id = Model.AmazonListingGroup.Id}, new {@class = "btn btn-default"})
        </span>
    </legend>
    <div class="form-group">
        @Html.DropDownListFor(x => x.CategoryId, Model.Categories, new { @class = "form-control" })
    </div>
    <div class="input-group">@Html.TextBoxFor(x => x.Name, new { @class = "form-control search-query search-product-variants", placeholder = "Enter product variant name or SKU..." })
        <span class="input-group-btn"><button type="button" class="btn btn-primary" id="search-product-variants">Filter</button>
        </span>
    </div>
    <hr/>

    <div class="row">
        <div class="col-lg-12">
            @{ Html.RenderPartial("ProductVariants", Model); }
        </div>
    </div>
 
</fieldset>


@{ Html.IncludeScript("~/Apps/Amazon/Areas/Admin/Content/Scripts/custom/listings.js"); }