@using System.Web.Mvc.Html
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Amazon.Models
@model MrCMS.Paging.IPagedList<MrCMS.Web.Apps.Amazon.Entities.Listings.AmazonListing>
@{
    ViewBag.Title = "Amazon Listings";
    var amazonManageInventoryUrl = ViewData["AmazonManageInventoryUrl"] as string;
}

<fieldset>
    <legend>Amazon Listings 
        @if (!String.IsNullOrWhiteSpace(amazonManageInventoryUrl))
         {
            <span class="btn-group  display-inline  pull-right margin-left-10">
            <a href='@amazonManageInventoryUrl' target="_blank" class="btn btn-danger">
                Manage Inventory on Amazon
            </a>
            </span>
         }
         <span class="btn-group  display-inline  pull-right">
            @Html.ActionLink("Add New Listing", "ChooseProductVariant", "Listing", null, new { @class = "btn btn-primary"})
            @Html.ActionLink("Logs", "Index", "Logs", new {type=AmazonLogType.Listings}, new { @class = "btn btn-success"})
        </span>
    </legend>
</fieldset>

@Html.TextBox("ListingTitle",String.Empty, new {@class = "input-xlarge search-query search-listings", placeholder = "Enter listing title, SKU or ASIN..."})
<button class="btn btn-success" id="search-listings" type="button">Filter</button>

<hr/>

<div class="row-fluid">
    <div class="span12">
        @{Html.RenderPartial("Listings", Model); }
    </div>
</div>
@{ Html.IncludeScript("~/Apps/Amazon/Areas/Admin/Content/Scripts/custom/listings.js"); }