@using (Html.BeginForm("Form", "PaymentNotRequired", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <button type="submit" class="btn btn-primary btn-lg">@Resource("Confirm Order")</button>
}
