@model MrCMS.Web.Apps.Ecommerce.Pages.Product
@using MrCMS.Helpers
@using System.Linq
@using MrCMS.Web.Apps.Ecommerce.Entities.Products
@{
    var selectedVariant = ViewData["selected-variant"] as ProductVariant ?? Model.Variants.First();
    var hasSpecifications = Model.SpecificationValues.Any();
}
@Html.HiddenFor(x => x.UrlSegment)
<div class="container margin-bottom-20 margin-top-20">
    <div class="content">
        @{Html.RenderPartial("VariantDetails", selectedVariant);}

        <div class="row-fluid" id="product-description-container">
            <div class="@(hasSpecifications ? "span7" : "span12")">
                <div class="row-fluid margin-top-bottom-10">
                    <div class="content-title">
                        <img src="/Themes/Ryness/Content/Images/des.jpg" alt="Description" />
                        Full Description
                    </div>
                    <div class="content-details">
                        @Editable(Model, product => product.BodyContent, true)
                    </div>
                    <div class="accordion" id="accordion2">
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">Delivery Details&nbsp;<img src="/Themes/Ryness/Content/Images/van.jpg" alt="Van" /></a>
                            </div>
                            <div id="collapseOne" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>Orders placed Monday to Friday before 2pm will generally be picked and packed for immediate despatch. Some products specify a longer delivery time in the product description (e.g. web specials). Please note that orders placed over the weekend or on public holidays will be processed on the next working day.</p>

                                    <p>Orders over &pound;50 are delivered&nbsp;<strong>FREE</strong> (excluding mobile air conditioner units)</p>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-group">
                            <div class="accordion-heading">
                                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">Returns Information&nbsp;<img src="/Themes/Ryness/Content/Images/parcel.jpg" alt="Parcel" /></a>
                            </div>
                            <div id="collapseTwo" class="accordion-body collapse">
                                <div class="accordion-inner">
                                    <p>We offer a 28 Day Money Back Guarantee. If for any reason you are not completely delighted with your purchase you may download a returns form and return it within 28 days for a full refund or exchange.</p>
                                    <p>Delivery costs back to us are not refundable.</p>
                                    <p>This excludes cut cable, or special order items.</p>
                                    <p><strong>A filled out returns form MUST BE included with any returned goods. Download <a href="http://www.ryness.co.uk/pdfs/returns_form.pdf" target="_blank">here</a></strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            @if (hasSpecifications)
            {
                <div class="span5">
                    @{Html.RenderPartial("ProductSpecifications", Model);}
                </div>
            }
        </div>
    </div>
</div>
<div class="container">
    @RenderZone("Below Product Infomation")
</div>
@{ Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/jquery.history.js");
   Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/product.js"); }