@model MrCMS.Web.Apps.Ecommerce.Pages.CategoryContainer
@using MrCMS.Helpers

@if (Model != null)
{
    <h4>Categories</h4>
   
    if(((List<MrCMS.Web.Apps.Ecommerce.Pages.Category>)ViewBag.Categories).Any())
    {
        foreach (var items in ((List<MrCMS.Web.Apps.Ecommerce.Pages.Category>)ViewBag.Categories).Chunk(4))
        {
            <div class="row-fluid">
                @foreach (var item in items)
                {
                    <div class="span3">
                        <div class="category-photo">
                        @if(item.Products.Any())
                        {
                            if(item.Products.First().Images.Any())
                            {
                            <img src="@(item.Products.First().Images.First().FileUrl)" class="img-rounded pull-left span12" />
                            }
                        }
                        </div>
                        <div class="clearfix"></div>
                        <h4 class="category-title"><a href="/@item.LiveUrlSegment">@item.Name</a></h4>
                        </div>
                }
            </div>
        }
    }
}
else
{
    <span>No categories.</span>
}