@model MrCMS.Web.Apps.Ecommerce.Entities.ProductReviews.Review

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Delete", "Review", FormMethod.Post))
{
    <fieldset>
        <legend>
            Delete Review
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Delete Review" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Id)
        <p>
            Are you sure you want to delete the review ? Deleting this item can not be undone.
        </p>
    </fieldset>
}