@using MrCMS.Web.Apps.Ecommerce.Services.Products
@model List<SelectListItem>
@{ var query = ViewData["query"] as ProductSearchQuery;}
@if (Model.Any())
{
    <div class="filter-header">
        By Brand
    </div>
    <div class="block-container padding-left-right-10">
        <div class="row-fluid dashed-border-bottom">
            <span>Brand</span>
            @Html.DropDownList("BrandId", Model, new { @class = "span12" })
        </div>
    </div>
}