@model IList<MrCMS.Web.Apps.Ecommerce.Entities.ETags.ETag>
<table class="table table-condensed table-striped">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Name
                </td>
                <td>
                    <div class="btn-group">
                        @Html.ActionLink("Edit", "Edit", "ETag", new { id = item.Id }, new { @class = "btn btn-xs btn-default" })
                        @Html.ActionLink("Delete", "Delete", "ETag", new { id = item.Id }, new { @class = "btn btn-xs btn-danger", data_toggle = "fb-modal" })
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>