.left-menu {
    display: none;
}
.right-menu {
    display: none;
}

body.show-menu-left .left-menu {
    position: fixed;
    top: 89px !important;
    left: 0 !important;
    display: block;
    z-index: 500000;
}

body.show-menu-right .right-menu {
    position: fixed;
    top: 89px !important;
    right: 0 !important;
    display: block;
    z-index: 500000;
    border-left: 1px solid #cccccc;
}
