@model dynamic

<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <span>
        @Resource("Discount invalid", "The discount you entered is invalid or is already applied to the basket")
    </span>
</div>