@using MrCMS.Web.Apps.Ecommerce.Helpers
@model MrCMS.Web.Apps.Amazon.Entities.Orders.AmazonOrder
<table class="table table-condensed table-striped">
    <tr>
        <td>Amazon Order Id</td>
        <td>@Model.AmazonOrderId</td>
    </tr>
    <tr>
        <td>Buyer Name</td>
        <td>
            @Model.BuyerName
        </td>
    </tr>
</table>
