body { padding-top: 10px; }
.container { margin: 0 auto; }
.navbar { margin: 0px; }
.navbar .navbar-inner { padding: 0;  border:0 }
.navbar .nav { margin: 0; display: table; width: 100%;}
.nav { margin: 0;}
.navbar .nav li a { text-align: left; border-left: 1px solid rgba(255,255,255,.75); border-right: 1px solid rgba(0,0,0,.1); }
.navbar .nav li:first-child a { border-left: 0; }
.navbar .nav li:last-child a { border-right: 0; }
.margin-bottom-10 { margin-bottom: 10px;}

.nav-tabs.nav-stacked > li:first-child > a.subitem {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.nav-tabs.nav-stacked > li > a.subitem {
    border-radius: 0 0 0 0;
}
.nav-stacked > li > a.subitem {
    margin-right: 0;
}
.nav-tabs > li > a.subitem {
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    line-height: 20px;
    padding-bottom: 8px;
    padding-top: 8px;
}
#footer {
    padding:10px 0px 0px 0px;
    height: 60px;
    text-align:center;
}
#footer ul li
{
    display:inline-block;
}
#navbar-wrapper
{
    background-color:#F1F1F1;
    margin:10px 0px 10px 0px;
    border-top:1px solid #E3E3E3;
    border-bottom:1px solid #E3E3E3;
}
.btn-addtobasket
{
    width:150px;
}
#basket-info-box
{
    color:#3F3F3F;
    text-align:center;
    font-size: 11px;
    padding-top: 10px;
}
#search-box
{
    margin:30px 20px 0px 0px;
    background-color:#EEEEEE;
    border-radius:5px;
    border:1px solid #CDCDCD;
    padding:5px;
}
#search-box .search-input
{
    margin: 0;
    height: 35px;
}
#search-box button
{
    height:35px;
    font-size:14px;
}
.checkout-btn {
    height: 45px;
    padding-top: 10px;
    font-size: 16px;
}

.product-price
{
    margin:5px 0px 5px 0px;
    color:#0172B8;
    font-size:28px;
    font-weight: bold;
}
h4.category-title
{
    color:#0172B8;
    font-size:16px;
    text-align:center;
}
.product-image
{
    width:210px;
    overflow:hidden;
    margin:0px 20px 0px 0px;
}

#product-description-container h4{
    margin-top: 0;
}

#mail-print-buttons
{
    margin:0px 10px 0px 0px;
    float:left;
}
#product-image-thumbnails
{
    margin:0;
}
#product-image-thumbnails ul
{
    margin:0;
}
#product-image-thumbnails ul li
{
    margin:0;
}

pre.product-variants-filter
{
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    line-height: 0;
    margin: 0px 0px 10px 0px;
    padding: 10px 10px 10px 10px;
    overflow:hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:10px;
    text-wrap:normal;
    white-space:normal;
    word-break:normal;
    word-wrap:normal;
}
pre#product-addtobasket
{
    background-color: #F5F5F5;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0;
    line-height: 0;
    margin: 0px 0px 10px 0px;
    padding: 10px 10px 10px 10px;
    overflow:hidden;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:10px;
    text-wrap:normal;
    white-space:normal;
    word-break:normal;
    word-wrap:normal;
}
pre.product-variants-filter label, pre#product-addtobasket label
{
    margin:7px 0px 0px 0px;
}
pre.product-variants-filter input[type="text"], pre#product-addtobasket input[type="text"]
{
    margin:0;
}
pre.product-variants-filter select, pre#product-addtobasket select
{
    margin:0;
}
.product-pricebreaks-title
{
    background-color: #C8C8C8;
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding:5px;
    margin:0px 0px 5px 0px;
    font-weight:bold;
    font-size:12px;
}
.product-filter-box-title
{
    padding:5px 0px 5px 12px;
    margin:0px 0px 5px 0px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.product-filter-box-slider
{
    margin:5px 0px 5px 0px;
}
#product-filter-box-options, #product-filter-box-specifications
{
    margin:5px 0px 5px 0px;
}
#products-operations
{
    overflow:hidden;
    margin:5px 0px 5px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
#products-operations #sorting
{
    margin:0px 20px 0px 0px;
}
#products-operations #sorting label
{
    float:left;
    margin:5px 10px 0px 0px;
}
#products-operations #show label
{
    float:left;
    margin:5px 10px 0px 0px;
}
#products .item
{
    clear:both;
    margin:5px 0px 5px 0px;
    padding:5px 0px 5px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
#products .item .span3 .btn
{
    display:block;
    margin:20px 0px 5px 0px;
}
#products .item .photo
{
   text-align:center;
}
.category-photo
{
    overflow:hidden;
   text-align:center;
   height:130px;
}
.category-photo img
{
    width: 100%;
}
#checkout-nav-buttons
{
    margin: 20px 0 0 0;
    text-align: right;
}
.wizard {
    
}
.wizard ul {
  list-style: none outside none;
  padding: 0;
  margin: 0;
}
.wizard ul li {
  float: left;
  margin: 0;
  padding: 0 20px 0 30px;
  height: 46px;
  line-height: 46px;
  position: relative;
  background: #ededed;
  font-size: 16px;
  cursor: default;
}
.wizard ul li.active a {
    color: #ffffff;
}
.wizard ul li .chevron {
  border: 23px solid transparent;
  border-right: 0;
  display: block;
  position: absolute;
  right: -14px;
  top: 0;
}
.wizard ul li .chevron:before {
  border: 24px solid transparent;
  border-left: 14px solid #ededed;
  border-right: 0;
  content: "";
  display: block;
  position: absolute;
  right: 1px;
  top: -24px;
}
.wizard ul li.complete {
  background: #f3f4f5;
}
.wizard ul li.complete:hover {
  background: #e7eff8;
  cursor: pointer;
}
.wizard ul li.complete:hover .chevron:before {
  border-left: 14px solid #4B525C;
}
.wizard ul li.complete .chevron:before {
  border-left: 14px solid #4B525C;
}
.wizard ul li.active {
  background: #4B525C;
  color:#FFFFFF;
}
.wizard ul li.active .chevron:before {
  border-left: 14px solid #4B525C;
}
.wizard ul li .badge {
  margin-right: 8px;
}
.wizard ul li:nth-child(1) {
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
  z-index: 10;
}
.wizard ul li:nth-child(2) {
  z-index: 9;
}
.wizard ul li:nth-child(3) {
  z-index: 8;
}
.wizard ul li:nth-child(4) {
  z-index: 7;
}
.wizard ul li:nth-child(5) {
  z-index: 6;
}
.wizard ul li:nth-child(6) {
  z-index: 5;
}
.wizard ul li:nth-child(7) {
  z-index: 4;
}
.wizard ul li:nth-child(8) {
  z-index: 3;
}
.wizard ul li:nth-child(9) {
  z-index: 2;
}
.wizard ul li:nth-child(10) {
  z-index: 1;
}
.wizard .actions {
  line-height: 44px;
  float: right;
  padding-right: 15px;
  vertical-align: middle;
}
.wizard .actions a {
  line-height: 45px;
  font-size: 12px;
  margin-right: 8px;
}
.wizard .actions .btn-prev i {
  margin-right: 5px;
}
.wizard .actions .btn-next i {
  margin-left: 5px;
}
.step-content .step-pane {
  display: none;
}
.step-content .active {
  display: block;
}
#cart-items .span12 #header
{
    overflow:hidden;
    height:50px;
    background-color:#FBFBF9;
    border:1px solid #EEEEEE;
    margin:5px 0px 5px 0px;
}
#cart-items
{
    margin:0px 0px 10px 0px;
}
#cart-items .span12 #header .header-item
{
    text-align:center;
    padding:15px 10px 0px 10px;
    font-weight:bold;
}
#cart-items .span12 .row
{
    text-align:center;
    margin:0px 0px 5px 0px;
    padding:5px 0px 5px 0px;
    border-bottom:1px solid #EEEEEE;
}
#cart-items .span12 .cell
{
    text-align:center;
    padding:25px 0px 0px 0px;
}
#cart-items .span12 .cell .photo
{
    margin:-25px 0px 0px 0px;
}
#cart-items .span12 .cell .name
{
    font-size:18px;
    font-weight:bold;
}
#cart-items .span12 .cell input[type="text"]
{
    color:#000000;
    text-align:center;
    font-weight:bold;
}
#cart-items .span12 .cell .price h4
{
    font-size:25px;
    font-weight:bold;
}
#cart-items .span12 .cell .price h4
{
    font-size:25px;
    font-weight:bold;
}
#cart-discount
{
    overflow:hidden;
    background-color:#FBFBF9;
    border:1px solid #EEEEEE;
    margin:20px 0px 5px 0px;
    padding:10px 5px 10px 5px;
}
#cart-discount .title
{
    padding:5px 0px 0px 0px;
    margin:0px 10px 0px 0px;
}
#cart-discount input[type="text"]
{
    margin:0px 10px 0px 0px;
}
#cart-summary
{
    overflow:hidden;
    margin:20px 0px 5px 0px;
    padding:10px 5px 10px 5px;
}
#cart-summary .span6
{
    font-size:16px;
}
#cart-summary .value
{
    font-size:16px;
}
#cart-summary .total-divider
{
    clear:both;
    height:5px;
    background-color:#007CC2;
    margin:5px 0px 10px 0px;
}
#cart-summary .total
{
    font-size:20px;
    font-weight:bold;
}