@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@model MrCMS.Web.Apps.Ecommerce.Entities.Products.Brand
@{ 
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var product = ViewData["product"] as Product;
}
<fieldset>
    <legend>
        Add Brand
        <span class="btn-group  display-inline  pull-right">
            <button id="close" class="btn-primary btn">Save Brand</button>
        </span>
    </legend>

    @Html.Hidden("productId",product!=null?product.Id:0)
      
    @Html.LabelFor(x => x.Name)
    @Html.TextBoxFor(x => x.Name)
    @Html.ValidationMessageFor(x => x.Name)

</fieldset>

@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/brands.js"); }