@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@model MrCMS.Paging.IPagedList<Category>
@{ 
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var product = ViewData["product"] as Product;
}

<fieldset>
    <legend>
        Add Categories to Product
        <span class="btn-group  display-inline  pull-right">
            <button id="close" class="btn-primary btn">Close</button>
        </span>
    </legend>

    <input autocomplete="off" class="search-query col-lg-2" id="searchparam" name="searchparam" placeholder="Search" type="text" />
    <br /><br />
    <div class="modal-body-container">
        @Html.Hidden("productId",product!=null?product.Id:0)
        @{Html.RenderPartial("AddCategoryCategories",Model);}
    </div>
</fieldset>
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/async-paging.js"); }
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/product-categories.js"); }