@using System.Web.Mvc.Html
@model MrCMS.Web.Apps.Ecommerce.Pages.Product
@{  
    var options = ViewData["options"] as List<SelectListItem>;
}
@using (Html.BeginForm("AddProductOption", "Product", new { id = Model.Id }, FormMethod.Post, new { id = "product-option-form", style = "margin:0px;" }))
{
    <div class="input-group">@Html.DropDownList("product-option", options, new{@class="form-control"})
        <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Add" id="add-product-option" />
        </span>
    </div>
}