@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@model MrCMS.Paging.IPagedList<Product>
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var product = ViewData["product"] as Product;
}

<fieldset>
    <legend>
        Add Related Product
        <span class="btn-group  display-inline  pull-right">
        </span>
    </legend>


    <div class="input-group">
        <input autocomplete="off" class="search-query form-control" id="searchparam" name="searchparam" placeholder="Search" type="text" />
        <span class="input-group-btn">
            <input type="button" class="btn btn-primary" value="Search" id="search" />
        </span>
    </div>

    @Html.Hidden("productId", product != null ? product.Id : 0)
    <br />
    <div class="modal-body-container">
        @{Html.RenderPartial("AddRelatedProductItems", Model);}
    </div>
</fieldset>
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/async-paging.js"); }
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/related-products.js"); }