@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Pages.Product
<div id="image-list">
    <div class="row-fluid">
        <div class="span6">
            <h4>Product Images</h4>
        </div>
        <div class="span6">
            <div class="btn-group pull-right">
                @Html.ActionLink("Sort", "SortImages", "Product", new { id = Model.Id }, new { @class = "btn-mini btn" , data_toggle = "fb-modal" })
            </div>
        </div>
    </div>
</div>

@{ Html.RenderPartial("UploadAnywhere", Model.Gallery); }
