@using MrCMS.Web.Apps.Ecommerce.Pages
@model Product
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("MakeSingleVariant", "Product", new { id = Model.Id }, FormMethod.Post))
{
    <div class="modal-header">
        <h3>Make Single Variant</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to make this product single variant? Making this product single variant will remove all variants and cannot be undone.
        <br />
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Make Single Variant" />
    </div>
}