@model MrCMS.Web.Apps.Ecommerce.Pages.Product
<div class="btn-group pull-right">
    @Html.ActionLink("Manage options", "ManageOptions", "Product", new { id = Model.Id }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
    @Html.ActionLink("Sort options", "SortOptions", "Product", new { id = Model.Id }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
    @Html.ActionLink("Add variant", "Add", "ProductVariant", new { id = Model.Id }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
</div>
