@using MrCMS.Web.Apps.Ecommerce.Pages
@model Product
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var category = ViewData["category"] as Category;
}
@using (Html.BeginForm("RemoveCategory", "Product", new {id = Model.Id, categoryId = category.Id}, FormMethod.Post))
{
    <fieldset>
        <legend>
            Remove Category from Product
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Remove Category" />
            </span>
        </legend>
        <p>
            Are you sure you want to remove the category @category.Name from the product @Model.Name? Removing this category can not be undone.
        </p>
    </fieldset>
}