@using MrCMS.Web.Apps.Ecommerce.Pages
@model Product
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
    var specificationValue = ViewData["specification-value"] as MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductSpecificationValue;
}
@using (Html.BeginForm("RemoveSpecification", "Product", new {id = Model.Id, specificationValueId = specificationValue.Id}, FormMethod.Post))
{
    <fieldset>
        <legend>
            Remove Specification from Product
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Remove Specification" />
            </span>
        </legend>
        <p>
            Are you sure you want to remove the specification @specificationValue.SpecificationName - @specificationValue.Value from the product @Model.Name? Removing this specification can not be undone.
        </p>
    </fieldset>
}