@model MrCMS.Web.Apps.Ecommerce.Pages.Product
<div id="specification-list">
    <div class="row-fluid">
        <div class="span6">
            <h4>Specifications</h4>
        </div>
        <div class="span6">
        </div>
    </div>
</div>
