@model MrCMS.Web.Apps.Ecommerce.Pages.Product
@{ 
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
}
@using (Html.BeginForm("UploadImage", "Product", new { id = Model.Id }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal-header">
        <h3>Upload Product Image</h3>
    </div>
    <div class="modal-body">
        <input name="image" id="image" type="file" data-val="true" data-val-required="The file is required."/>
        <span data-valmsg-for="image" data-valmsg-replace="true"></span>
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn btn-primary" value="Upload Image" />
    </div>
}