@model MrCMS.Web.Apps.Ecommerce.Pages.ProductSearch
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Services.Products
@{
    var query = ViewData["query"] as ProductSearchQuery;
}
@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x => x.LiveUrlSegment)
@Html.HiddenFor(x => x.UrlSegment)

<div class="row-fluid" id="product-search-container">
    <div class="span3">
        @{ Html.RenderAction("Query", "ProductSearch", new { query });}
    </div>
    <div class="span9">
        @{ Html.RenderAction("Results", "ProductSearch", new { query });}
        @Editable(Model, page => page.BodyContent, true)
    </div>
</div>
@{
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/jquery.history.js");
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/product-search.js");
}