@model MrCMS.Web.Apps.Ecommerce.Pages.ProductSearch
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Services.Products
@{
    var query = ViewData["query"] as ProductSearchQuery;
}

<ul class="breadcrumb">
    <li><a href="/">Home</a> <span class="divider">/</span></li>
    <li class="active">Products</li>
</ul>
@RenderZone("Before Content")
@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x => x.LiveUrlSegment)
@Html.HiddenFor(x => x.UrlSegment)

<div class="row-fluid" id="product-search-container">
    @{ Html.RenderPartial("Query", query);}
    @{ Html.RenderAction("Results", "ProductSearch", new { query });}
</div>
@{
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/jquery.history.js");
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/product-search.js");
}