@using MrCMS.Web.Apps.Ecommerce.Helpers
@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
<p><strong>Order Total: <span class="red">@Model.Total.ToCurrencyFormat()</span></strong><br />
    <strong>@Model.ItemQuantity</strong> item@(Model.ItemQuantity != 1 ? "s" : "") in your basket</p>
