@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Widgets.PeopleWhoBoughtThisAlsoBoughtViewModel
@if (Model != null && Model.Products.Any())
{
    <hr/>
    <div class="row-fluid">
        <div class="span12">
            <h4>Frequently bought together with the item you added</h4>
            <div class="row-fluid">
                <div class="row-fluid">
                    @foreach (var item in Model.Products)
                    {
                        Html.RenderPartial("ProductCardFeatured", item);
                    }
                </div>
            </div>
        </div>
    </div>
}