@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Widgets.PeopleWhoBoughtThisAlsoBoughtViewModel
@if (Model != null && Model.Products.Any())
{
    <div class="row-fluid padding-top-bottom-10">
        <div class="span12">
            <div class="section-header">
                <span>Frequently bought together with the item you added</span>
            </div>
            <div class="row-fluid grid-items">
                <div class="row-fluid">
                    @foreach (var item in Model.Products)
                    {
                        Html.RenderPartial("ProductCardFeatured", item);
                    }
                </div>
            </div>
        </div>
    </div>
}