@model MrCMS.Web.Apps.Ecommerce.Widgets.RelatedProductsViewModel
@if (Model != null && Model.Products.Any())
{
    <div class="row-fluid padding-top-bottom-10">
        <div class="span12">
            @if (!String.IsNullOrEmpty(Model.Title))
            {
                <div class="section-header">
                    <span>Related products</span>
                </div>
            }
            <div class="row-fluid grid-items">
                @foreach (var item in Model.Products)
                {
                    Html.RenderPartial("ProductCardFeatured", item);
                }
            </div>
        </div>
    </div>
}