@model MrCMS.Web.Apps.Ecommerce.Widgets.RelatedProductsViewModel
@if (Model != null && Model.Products.Any())
{
    <hr/>
    <div class="row-fluid">
        <div class="span12">
            @if (!String.IsNullOrEmpty(Model.Title))
            {
                <h4>Related products</h4>
            }
            <div class="row-fluid">
                @foreach (var item in Model.Products)
                {
                    Html.RenderPartial("ProductCardFeatured", item);
                }
            </div>
        </div>
    </div>
}