@model dynamic
@{
    Layout = "~/Apps/Ecommerce/Views/Shared/_PasswordLayout.cshtml";
}	

<div class="container">
    <p>&nbsp;</p>
    <div class="row">
        <div class="span12" style="text-align:center">
                <p>
                    Thank you. We have attempted to send a password reset email for the account related to the email provided.
                </p>
        </div>
    </div>
</div>
