@using MrCMS.Helpers
@model dynamic
@{
    Layout = "~/Apps/Ecommerce/Views/Shared/_PasswordLayout.cshtml";
}	

<div class="container">
    <p>&nbsp;</p>
    <div class="row">
          <div class="span12" style="text-align:center">
            <div class="control-group">
                <div class="controls">
                    <h4>Password Reset Complete</h4>
                    <a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.UserLogin>())">Back to Login</a>
                </div>
            </div>
        </div>
    </div>
</div>
