@model Category
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Models
@using MrCMS.Web.Apps.Ecommerce.Pages
@using MrCMS.Web.Apps.Ecommerce.Services.Products
@{
    var query = ViewData["query"] as ProductSearchQuery;
    var parentCategories = Model.ActivePages.Skip(1).Where(webpage => webpage is Category).ToList();
    parentCategories.Reverse();
}
@Html.HiddenFor(x => x.Id)
@Html.HiddenFor(x => x.LiveUrlSegment)

 <div class="margin-bottom-30 grey-border-top padding-top-10">
     <div class="container">
         <div class="row" id="product-search-container">
             <div class="col-sm-3">
                 @{ Html.RenderAction("Query", "ProductSearch", new { query });}
             </div>
            <div class="col-sm-9">
                 <h1>@Editable(Model, category => category.Name)</h1>
                @{ Html.RenderAction("Results", "ProductSearch", new { query });}
                @Editable(Model, category => category.BodyContent, true)
             </div>
         </div>
     </div>
</div>

@{
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/jquery.history.js");
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/product-search.js");
}