@using MrCMS.Web.Apps.Ecommerce.Models
@using MrCMS.Web.Apps.Ecommerce.Payment.SagePay
@model MrCMS.Web.Apps.Ecommerce.Services.SagePay.TransactionRegistrationResponse
@{
    var failureDetails = ViewData["error-details"] as FailureDetails;
}

@if (failureDetails != null)
{
    <div class="alert alert-danger">
        @failureDetails.Message
    </div>
}
@if (Model.Status == ResponseType.Ok)
{
    <iframe width="100%" height="500px" src="@Model.NextURL" style="border:none;" frameborder="0"></iframe>
}