@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.OrderNote

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Delete", "OrderNote", FormMethod.Post))
{
    <fieldset>
        <legend>
            Delete Order Note
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Delete Order Note" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Id)

        <p>
            Are you sure you want to delete this note ? Deleting this item can not be undone.
        </p>
    </fieldset>
}