@model MrCMS.Web.Apps.Ecommerce.Entities.Templating.NotificationTemplateSettings

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   

@using (Html.BeginForm("Delete", "NotificationTemplateSettings", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Delete Notification Template Settings</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to delete the @Model.Name ? Deleting this item can not be undone.
        <br />
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Delete" />
    </div>
}