@using MrCMS.Helpers
@model MrCMS.Web.Apps.MobileFriendlyNavigation.Widgets.MobileFriendlyNavigation
@{
    var rootWebpageOptions = ViewData["root-webpage-options"] as List<SelectListItem> ?? new List<SelectListItem>
    {
        new SelectListItem
        {
            Text = "Site Root", Value = "0"
        }
    };
}


<div class="form-group">
    @Html.LabelFor(navigation => navigation.RootWebpage.Id, "Root webpage")
    @Html.DropDownListFor(navigation => navigation.RootWebpage.Id, rootWebpageOptions, new { @class = "form-control" })
</div>
<div class="form-group">
    @Html.InlineCheckboxFor(x => x.IncludeChildren)
</div>