@using MrCMS.Helpers
@model dynamic
@{
    ViewBag.Title = "Low Stock Report";
}

<fieldset>
    <legend>Low Stock Report
        <span class="btn-group  display-inline  pull-right">
            @Html.ActionLink("Export Low Stock Report (CSV)","ExportLowStockReport", "Stock", new {threshold=ViewData["threshold"]} ,new { @class="btn btn-primary"}))
        </span>
    </legend>
    @if(!String.IsNullOrWhiteSpace(ViewBag.Status))
    {
        <br />
        <span class="alert alert-info">@ViewBag.Status</span>
        <div class="clearfix"></div>
        <hr/>
    }
    <div class="row">
    @using (Html.BeginForm("LowStockReport", "Stock", FormMethod.Get))
    {
        <input type="text" class="search-query input-mini" placeholder="Threshold" id="threshold" name="threshold" value="@ViewData["threshold"]" />
        <input type="submit" class="btn btn-primary btn-success" value="Generate Report" />
    }
    </div>
    <hr />
    <div id="product-variants">
        @{ Html.RenderAction("LowStockReportProductVariants", "Stock");}
    </div>
</fieldset>

@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/stock.js");}