@model MrCMS.Web.Apps.Ecommerce.Entities.ETags.ETag

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Delete", "ETag", FormMethod.Post))
{
    <fieldset>
        <legend>Delete E-Tag
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-danger btn" value="Delete E-Tag" />
            </span>
        </legend>
        <p>
            Are you sure you want to delete the e-tag @Model.Name ? Deleting this item can not be undone.
        </p>
    </fieldset>
}