@model MrCMS.Web.Apps.Ecommerce.Entities.Shipping.ShippingMethod

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Delete", "ShippingMethod", FormMethod.Post))
{
    <fieldset>
        <legend>
            Delete Shipping Method
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Delete Shipping Method" />
            </span>
        </legend>
        <p>
            Are you sure you want to delete the shipping method @Model.Name ? Deleting this item can not be undone.
        </p>
    </fieldset>
}