@model MrCMS.Web.Apps.Ecommerce.Entities.DiscountApplications.XPercentFromItems
<div class="form-group">
    @Html.LabelFor(x => x.DiscountPercent)
    @Html.TextBoxFor(x => x.DiscountPercent, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.DiscountPercent)
</div>
