@model dynamic
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	 
<fieldset>
        <legend>
            Remove media
            <span class="btn-group  display-inline  pull-right">
                <button class="btn btn-primary" data-action="confirm">Confirm Remove Media</button>
            </span>
        </legend>  
    </fieldset>