@model MrCMS.Web.Apps.Ecommerce.Entities.Discounts.Discount

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Add", "Discount", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Add Discount</h3>
    </div>
    <div class="modal-body">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        @Html.LabelFor(x => x.Code)
        @Html.TextBoxFor(x => x.Code)
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Add Discount" />
    </div>
}