@model MrCMS.Web.Apps.Ecommerce.Entities.Discounts.Discount

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Delete", "Discount", FormMethod.Post))
{
    <fieldset>
        <legend>Delete Discount
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Delete Discount" />
            </span>
        </legend>
        <p>
            Are you sure you want to delete the discount @Model.Name ? Deleting this item can not be undone.
        </p>
    </fieldset>
}