html, body {background: #ffffff; font-family:arial, verdana, helvetica, sans-serif;color:#000000;font-size: 13px;}
h1 {font-size: 21px;line-height: 28px;font-weight: normal;padding:0;margin: 0;color: #000000;}
h3 {font-size:15px;font-weight:900;margin:10px 0;line-height:18px;}
a { color: #D80000;text-decoration: none;}
a:hover { color: #D80000;text-decoration: underline;}
a.active { color: #000000;text-decoration: none;}
hr { border-top: 1px solid #eaeaea;border-bottom: 1px solid #ffffff;}
label, input, button, select, textarea {font-size:13px;}

.sub-header {font-size: 21px;line-height: 28px;font-weight: normal;margin: 0;color: #000000;padding:10px 20px;}
.padding-left-5 { padding-left: 5px;}
.padding-top-5 { padding-top: 5px;}
.padding-top-bottom-10 {padding:10px 0;}
.padding-top-bottom-20 {padding:20px 0;}
.padding-top-bottom-30 {padding:30px 0;}
.padding-left-right-20 {padding:0 20px;}
.padding-left-right-5 {padding:0 5px;}
.padding-20 {padding:20px;}
.margin-top-10 {margin-top:10px !important;}
.margin-bottom-10 {margin-bottom:10px;}
.margin-bottom-20 {margin-bottom:20px;}
.border-bottom-grey {border-bottom:1px solid #dddddd;}
.border-top-grey {border-top:1px solid #dddddd;}
.border-grey {border:1px solid #dddddd;}
.border-top-bottom-grey {border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;}
.no-margin-left {margin-left:0 !important;}
.grey-background {background:#F9F9F9;}
.bold-font {font-weight:bold;}
.green {color:#73C01A;}
.grey {color:#444444;}
.red {color:red;}
.cardtext {color:#888888;}
.align-right {text-align:right;}
.align-center {text-align:center;}
.line-height-30 {line-height:30px;}
.complete-text {font-size: 21px;line-height: 28px;font-weight: normal;margin: 0;color: #74C11B;padding:0;text-transform:uppercase;}

ul.checkoutbar {margin:0;padding:0;}
ul.checkoutbar li {margin:0;padding:0;list-style-type:none;width:25%;float:left;}
ul.checkoutbar li a.home {display:block;background:url(/Themes/Ryness/Content/Images/checkout/welcome.jpg) no-repeat 0 0;height:44px;}
ul.checkoutbar li a.home:hover {background:url(/Themes/Ryness/Content/Images/checkout/welcome-active.jpg) no-repeat 0 0;height:44px;}

.navbar-inverse .navbar-inner {
    background-color: #eeeeee;
    background-image: -moz-linear-gradient(top,#eeeeee,#bbbbbb);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#eeeeee),to(#bbbbbb));
    background-image: -webkit-linear-gradient(top,#eeeeee,#bbbbbb);
    background-image: -o-linear-gradient(top,#eeeeee,#bbbbbb);
    background-image: linear-gradient(to bottom,#eeeeee,#bbbbbb);
    background-repeat: repeat-x;
    border-color: #ececec;
    box-shadow:none;
    border-left-width:0;
    border-right-width:0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffeeeeee',endColorstr='#ffBBBBBB',GradientType=0);
    padding:0;
    margin:0;
    min-height:38px;
    -webkit-border-radius: 0;
    -moz-border-radius:0;
    border-radius: 0;
    border-top-width:0;
}
.navbar .nav {margin:0;}
.navbar .nav > li > a {font-size:21px;color:#333333;position:relative;padding:11px 121px 11px 91px;}
.navbar .nav > li:last-child > a {padding:11px 121px 11px 94px;}
.navbar .nav > li > a.active, .navbar .nav > li > a:hover {
    background-color: #c6e36f;
    background-image: -moz-linear-gradient(top,#c6e36f,#6a8c01);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#c6e36f),to(#6a8c01));
    background-image: -webkit-linear-gradient(top,#c6e36f,#6a8c01);
    background-image: -o-linear-gradient(top,#c6e36f,#6a8c01);
    background-image: linear-gradient(to bottom,#c6e36f,#6a8c01);
    background-repeat: repeat-x;
    border-width:0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc6e36f',endColorstr='#ff6a8c01',GradientType=0);
    text-shadow:none;
    box-shadow:none;
    color:#ffffff;
    border-color:#ececec;
    border-top:1px solid #ececec;
    border-bottom:none;
}
.navbar .nav > li > a span {position:absolute;top:0;right:0;width:31px;height:44px;z-index:2;display:block;background:url(/Themes/Ryness/Content/Images/checkout/pointer.gif) no-repeat 0 0;}
.navbar .nav > li:last-child > a span {background:none;}
.navbar .nav > li > a.active span, .navbar .nav > li > a:hover span {position:absolute;top:-1px;right:0;width:31px;height:44px;z-index:2;display:block;background:url(/Themes/Ryness/Content/Images/checkout/pointer-active.gif) no-repeat 0 0;}
.navbar .nav > li > a.active span.back, .navbar .nav > li > a:hover span.back {position:absolute;top:-1px;left:-31px;width:31px;height:44px;z-index:2;display:block;background:url(/Themes/Ryness/Content/Images/checkout/pointer-back.png) no-repeat 0 0;}
.navbar-inverse .nav-collapse .nav>li>a, .navbar-inverse .nav-collapse .dropdown-menu a {color: #333;}
.navbar-inverse .nav-collapse .nav>li>a.active, .navbar-inverse .nav-collapse .dropdown-menu a.active {color: #fff;}

.btn {font-size:13px;}
.red-gradient
{
    background-color: #D90000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D90000), color-stop(100%, #9F0301));
    background-image: -webkit-linear-gradient(top, #D90000, #9F0301);
    background-image: -moz-linear-gradient(top, #D90000, #9F0301);
    background-image: -ms-linear-gradient(top, #D90000, #9F0301);
    background-image: -o-linear-gradient(top, #D90000, #9F0301);
    background-image: linear-gradient(top, #D90000, #9F0301);
    border: 1px solid #CB0000;
    line-height:30px;
    color:#ffffff;
    text-shadow:none;
}

.red-gradient:hover
{
    background-color: #cc1f1f;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #cc1f1f), color-stop(100%, #c91c1c));
    background-image: -webkit-linear-gradient(top, #cc1f1f, #c91c1c);
    background-image: -moz-linear-gradient(top, #cc1f1f, #c91c1c);
    background-image: -ms-linear-gradient(top, #cc1f1f, #c91c1c);
    background-image: -o-linear-gradient(top, #cc1f1f, #c91c1c);
    background-image: linear-gradient(top, #cc1f1f, #c91c1c);
    color:#ffffff;
    border: 1px solid #CB0000;
}
.white-gradient {color: #D80000;line-height:30px;padding:4px 40px;}
.white-gradient:hover {color:#D80000;}

/* Portrait tablet to landscape and desktop */
@media (min-width: 980px) and (max-width: 1199px) {
    .navbar .nav > li > a {font-size:21px;color:#333333;position:relative;padding:11px 91px 11px 64px !important;}
    .navbar .nav > li:last-child > a {padding:11px 91px 11px 64px !important;}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .top-buttons {padding:30px 0 0 0;}
    .top-buttons .span6 .btn {padding:4px 6px;}
    .head {padding:10px 0 0 0;}
    .navbar .btn-navbar { display: none;}
    .nav-collapse, .nav-collapse.collapse {height: 43px;overflow:visible;}
    .nav-collapse .nav>li {float: left;}
    .navbar .nav > li > a {font-size:21px;color:#333333;position:relative;padding:11px 61px 11px 34px !important;}
    .navbar .nav > li:last-child > a {padding:11px 65px 11px 34px !important;}
    .navbar-inverse .brand, .navbar-inverse .nav>li>a {color: #333;text-shadow: none;}
    .nav-collapse .nav>li>a {margin: 0;}
    .navbar .nav > li > a.active span.back, .navbar .nav > li > a:hover span.back {position:absolute;top:-1px;left:-30px;width:31px;height:44px;z-index:2;display:block;background:url(../img/pointer-back.png) no-repeat 0 0;}
    .nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;border-bottom-width:0;}
    .nav-collapse .nav > li > a.active, .nav-collapse .dropdown-menu a.active {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;border-bottom-width:0;}
    .checkout-index {padding-bottom:10px;}
    .green {line-height:15px !important;}
    .tablet-continue .btn {padding:4px 6px !important;}
}

/* Landscape phones and down */
@media (max-width: 767px) {
    body {padding:0 10px;}
    .payment .align-right {text-align:left;}
    .top-buttons .span6 {margin-bottom:10px;}
    .top-buttons {padding:10px 0;}
    .head {padding:0;min-height:0;}
    .nav-collapse, .nav-collapse.collapse {height:43px;overflow:visible;}
    .navbar .btn-navbar { display: none;}
    /*.navbar .nav > li > a.active span.back, .navbar .nav > li > a:hover span.back {display:none;}*/
    .nav-collapse .nav>li>a, .nav-collapse .dropdown-menu a {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;border-bottom-width:0;}
    .nav-collapse .nav > li > a.active, .nav-collapse .dropdown-menu a.active {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;border-bottom-width:0;}
    .border-grey .padding-top-bottom-20 {padding:10px;}
    .border-grey .align-right {text-align:left;}
    .mobile-header {margin:10px 0 5px 0;}
    .mobile-header .span6 {width:50%;float:left;}
    .mobile-header .span6 .btn {padding:0 !important;}
    .mobile-header .span4 {width:35%;float:left;}
    .mobile-header .span8 {width:65%;float:right;}
    .mobile-header .logo-container {padding:5px;}
    .nav-collapse .nav>li {display:block;height:43px;width:25%;float:left;}
    .navbar .nav > li > a {font-size: 11px;color: #333333;position: relative;padding: 11px 10px;}
    .navbar .nav > li:last-child > a {padding:11px 10px;}
    .navbar .nav > li > a span {position:absolute;top:0;right:0;width:31px;height:44px;z-index:2;display:block;background:url(/Themes/Ryness/Content/Images/checkout/pointer.png) no-repeat 0 0;}
    .content {padding:5px 0 !important;}
    .navbar {margin-bottom: 5px;}
    .sub-header {padding:5px 10px;}
    .padding-20 {padding:10px;}
    .password-container .span2 {width:20%;float:left;}
    .password-container .span10 {width:75%;float:right;}
    .margin-bottom-20 {margin-bottom:10px;}
    .tablet-continue .span4 {padding:3px 0;}
    .two-side-column .span10 {width:75%;float:left;}
    .two-side-column .span2 {width:20%;float:right;}
}

@media (max-width: 480px) {
    .nav-collapse .nav>li {display:block;height:43px;width:27%;float:left;}
    .navbar .nav > li:last-child {width:19%;}
    .navbar .nav > li > a {font-size: 10px;color: #333333;position: relative;padding: 11px 5px;}
    .navbar .nav > li:last-child > a {padding:11px 10px;}
}