@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.Order
@{
    ViewBag.Title = "Order Details";
}

<div class="row-fluid">
    <div class="span4">
        <h4>Order Details</h4>
    </div>
    <div class="span8">
        <div class="btn-group  display-inline  pull-right">
            @Html.ActionLink("Back to list", "Index", "Order", null, new { @class = "btn" })
        </div>
    </div>
</div>
