@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.Order
@{
    ViewBag.Title = "Edit Order Details";
}

<div class="row-fluid">
    <div class="span12">
        <fieldset>
            <legend>Order - #@Model.Id

                <span class="pull-right btn-group">
                    <a href="/Admin/Apps/Ecommerce/Order" class="btn">Back</a>
                    @if (!Model.IsCancelled)
                    {
                        @Html.ActionLink("Cancel Order", "Cancel", "Order", new { id = Model.Id }, new { @class = "btn btn-danger", data_toggle = "fb-modal" })
                    }
                    else
                    {
                        <span>
                            <strong class="red">CANCELLED</strong>
                        </span>
                    }
                    <a href="@Url.Action("ExportOrderToPdf", "ImportExport", new { id = Model.Id })" class="btn btn-success">Invoice (PDF)</a>
                </span>

            </legend>
        </fieldset>
    </div>
</div>

@{Html.RenderPartial("OrderDetails", Model); }
@{Html.RenderPartial("OrderLines", Model);}
@{Html.RenderPartial("OrderNotes", Model);}
