@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.Order
@{
    ViewBag.Title = "Edit Order Details";
}

<div class="row-fluid">
        <div class="span12">
            <fieldset>
    <legend>Order - #@Model.Id
    </legend>
                </fieldset>
            </div>
    </div>
<div class="row-fluid">
        <div class="span12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#order-details" data-toggle="tab">Order details</a></li>
            <li><a href="#order-lines" data-toggle="tab">Order lines</a></li>
            <li><a href="#order-notes" data-toggle="tab">Order notes</a></li>
             <li><a href="#order-refunds" data-toggle="tab">Refunds</a></li>
        </ul>
</div>

</div>

<div class="row-fluid">
            <div class="tab-content">
            @{Html.RenderPartial("OrderDetails", Model); }
            @{Html.RenderPartial("OrderLines", Model);}
            @{Html.RenderPartial("OrderNotes", Model);}
            @{Html.RenderPartial("OrderRefunds", Model);}
        </div>
</div>
