@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.Order
@{
    ViewBag.Title = "Edit Order Details";
}

<div class="row-fluid">
        <div class="span12">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#order-details" data-toggle="tab">Order Details</a></li>
            <li><a href="#order-lines" data-toggle="tab">Order Lines</a></li>
            <li><a href="#order-notes" data-toggle="tab">Order Notes</a></li>
            <li class="pull-right">@Html.ActionLink("Back to list", "Index", "Order", null, new { @class = "btn" })</li>
        </ul>

</div>

</div>

<div class="row-fluid">
            <div class="tab-content">
            @{Html.RenderPartial("OrderDetails", Model); }
            @{Html.RenderPartial("OrderLines", Model);}
            @{Html.RenderPartial("OrderNotes", Model);}
        </div>
</div>
