@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.Order
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("EditShippingStatus", "Order", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Edit Order Shipping Status</h3>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(x => x.Id)
        @Html.HiddenFor(x => x.User.Id)
       
        @Html.DropDownListFor(x => x.ShippingStatus, ViewData["ShippingStatuses"] as IEnumerable<SelectListItem>)
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Update Order Shipping Status" />
    </div>
}