@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.Order

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("MarkAsPaid", "Order", FormMethod.Post))
{
    <fieldset>
        <legend>Set Order as Paid
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Set Order as Paid" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Id)
        @Html.ReturnToReferrer()

        <p>
            Are you sure you want to mark order as paid?
        </p>
    </fieldset>
}