@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.Order

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("MarkAsShipped", "Order", FormMethod.Post))
{
    <fieldset>
        <legend>Set Order as Shipped
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Set Order as Shipped" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Id)
        @Html.Hidden("index", (bool) ViewBag.Index)
        
        <p>
            Are you sure you would like to set order as shipped?
        </p>
    </fieldset>
}