@model MrCMS.Web.Apps.Ecommerce.Entities.Orders.Order

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("MarkAsPaid", "Order", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)
    <div class="modal-header">
        <h3>Set Order as Paid</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to mark order as paid?
        <br />
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Set Order as Paid" />
    </div>
}