@model dynamic
@{
    ViewBag.Title = "Google Base Integration";
}

<fieldset>
        <legend>Google Base Integration
        </legend>

        <div class="row-fluid">
             <span class="btn-group display-inline">
                 <a href="@Url.Action("ExportProductsToGoogleBase", "ImportExport")" class="btn btn-primary">Export Products to Google Base</a>
            </span>
            <div class="clearfix"></div>
                    
            @if (ViewBag.ExportStatus != null)
            {
                <br />
                <span class="alert alert-info">@ViewBag.ExportStatus</span>
                <div class="clearfix"></div>
            }
           
        </div>
</fieldset>