@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title> Confirm Payment Request</title>
</head>
<body>
    <div>
        Your Payment Request has been successfully submitted. We will update you with the progress.
    </div>
</body>
</html>
