@model MrCMS.Web.Apps.Ecommerce.Payment.Elavon.Models.ElavonPaymentDetailsModel
<hr />
<div class="row">
    <div class="col-sm-8">
        <div data-card="true">
            <h4> Elavon Payment Gateway </h4>
            <hr />

            <!-- Used to display Element errors. -->
            <div>&nbsp;</div>
            <div id="card-errors" class="alert alert-danger" role="alert" data-elavon-errors="true" style="display:none;"> </div>
            @Html.HiddenFor(x => x.ServiceUrl, new { id = "ServiceUrl", name = "ServiceUrl", value = @Model.ServiceUrl })

            <input type="submit" value="@Resource("Confirm Order")" class="btn btn-primary btn-lg"
                   data-submit-button="true" id="payButtonId" data-secret="@Model.SharedSecret" />
        </div>
    </div>
</div>
<script src="~/Apps/Ecommerce/Content/Scripts/custom/elavon-payment-checkout.js" type="text/javascript"></script>