@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant
@using MrCMS.Helpers
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Add", "ProductVariant", new { id = "" }, FormMethod.Post))
{
    <fieldset>
        <legend>Add Product Variant
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Add Product Variant" />
            </span>
        </legend>
        
         <div id="tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
                <li><a href="#images" data-toggle="tab">Featured Image</a></li>
            </ul>
            <div class="tab-content">
                @{ Html.RenderPartial("AddDetails", Model); }
                @{ Html.RenderPartial("AddImages", Model); }
            </div>
        </div>
    </fieldset>
}

@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/product-variant.js"); }