@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant
<div id="images" class="tab-pane">
@Html.LabelFor(webpage => webpage.FeaturedImageUrl)
@Html.TextBoxFor(webpage => webpage.FeaturedImageUrl, new { @class = "media-selector" })
</div>