@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Delete", "ProductVariant", FormMethod.Post))
{
    <fieldset>
        <legend>
            Delete Product Variant
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Delete product variant" />
            </span>
        </legend>
        <p>
            Are you sure you want to delete the product variant with SKU @Model.SKU? Deleting this variant can not be undone.
        </p>
    </fieldset>
}