@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant
@using MrCMS.Helpers
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Edit", "ProductVariant", FormMethod.Post, new { id = "pv" }))
{
    <fieldset>
        <legend>Edit Product Variant
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Save Changes" />
            </span>
        </legend>

        @Html.ValidationSummary()

        <div id="tabs">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#details" data-toggle="tab">Details</a></li>
                <li><a href="#images" data-toggle="tab">Featured Image</a></li>
                <li><a href="#sold-out" data-toggle="tab">Sold Out Options</a></li>
                <li><a href="#shipping-options" data-toggle="tab">Restricted Shipping Options</a></li>
                <li><a href="#download-options" data-toggle="tab">Download Options</a></li>
            </ul>
            <div class="tab-content">
                @Html.HiddenFor(variant => variant.Id)
                @{ Html.RenderPartial("AddDetails", Model); }
                @{ Html.RenderPartial("Images", Model); }
                @{ Html.RenderPartial("SoldOut", Model); }
                @{ Html.RenderPartial("ShippingOptions", Model); }
                @{ Html.RenderPartial("DownloadOptions", Model); }
            </div>
        </div>
    </fieldset>
}

@{
    Html.IncludeCss("~/Areas/Admin/Content/Scripts/select2-3.4.1/select2.css");
    Html.IncludeScript("~/Areas/Admin/Content/Scripts/select2-3.4.1/select2.min.js");
}
@{ Html.IncludeCss("~/Apps/Ecommerce/Areas/Admin/Content/Styles/product-variant.css"); }
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/product-variant.js"); }