@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant

<div id="shipping-options" class="tab-pane">
    <div class="row">
        <div class="col-xs-12">
            @Html.InlineCheckboxFor(variant => variant.RequiresShipping)
        </div>
    </div>
</div>
