@using MrCMS.Web.Apps.Ecommerce.Entities.Shipping
@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant
@{
    var shippingMethods = ViewData["shipping-methods"] as IList<ShippingMethod> ?? new List<ShippingMethod>();
}

<div id="shipping-options" class="tab-pane">
    @if (shippingMethods.Any())
    {
        <div class="row-fluid">
            <div class="span12">
                @foreach (var shippingMethod in shippingMethods)
                {
                    <label class="checkbox">
                        <input type="checkbox" name="shipping-method-@shippingMethod.Id" @(Model.RestrictedShippingMethods.Contains(shippingMethod) ? "checked=\"checked\"" : string.Empty) />
                        @shippingMethod.Name
                    </label>
                }
            </div>
        </div>
    }
</div>
