@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant
<div id="sold-out" class="tab-pane">
    <label class="checkbox">@Html.CheckBox("SoldOut", Model.SoldOut) Sold Out?</label>
    <div id="sold-out-message" @(Model.SoldOut?Html.Raw("style='display:block'"):Html.Raw("style='display:none'"))>
        <br/>
        @Html.LabelFor(x => x.SoldOutMessage)
        @Html.TextAreaFor(x => x.SoldOutMessage,new {@class="span12"})       
    </div>
</div>