@using System.Web.Mvc.Html
@using MrCMS.Helpers
@model MrCMS.Web.Apps.Amazon.Models.AmazonDashboardModel
@{
    ViewBag.Title = "Amazon App Dashboard";
}

<fieldset>
    <legend>Amazon App Dashboard
        <span class="pull-right">
             @using (Html.BeginForm("Dashboard", "App", new {id = ""}, FormMethod.Post))
             {
                 @Html.EditorFor(x => x.FilterFrom)
                 @Html.EditorFor(x => x.FilterUntil)
                 <button type="submit" class="btn btn-default">Filter</button>
             }
        </span>
    </legend>

     @{Html.RenderPartial("DashboardContent", Model);}

</fieldset>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
@{ Html.IncludeScript("~/Apps/Amazon/Areas/Admin/Content/Scripts/custom/dashboard.js"); }
@{ Html.IncludeCss("~/Apps/Amazon/Areas/Admin/Content/Styles/dashboard.css"); }