@using System.Web.Mvc.Html
@using MrCMS.Helpers
@model MrCMS.Web.Apps.Amazon.Models.AmazonDashboardModel
@{
    ViewBag.Title = "Amazon App Dashboard";
}

<fieldset>
    <legend>
        Amazon App Dashboard
        <span class="pull-right">
           
        </span>
    </legend>
    @using (Html.BeginForm("Dashboard", "App", new { id = "" }, FormMethod.Post))
    {
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.FilterFrom)
                    @Html.TextBoxFor(x => x.FilterFrom, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.FilterUntil)
                    @Html.TextBoxFor(x => x.FilterUntil, new { @class = "form-control" })
                </div>
            </div>

        </div>
        <button type="submit" class="btn btn-default">Filter</button>

    }
    @{Html.RenderPartial("DashboardContent", Model);}

</fieldset>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
@{ Html.IncludeScript("~/Apps/Amazon/Areas/Admin/Content/Scripts/custom/dashboard.js"); }
@{ Html.IncludeCss("~/Apps/Amazon/Areas/Admin/Content/Styles/dashboard.css"); }