@using System.Web.Mvc.Html
@using MrCMS.Web.Apps.Ecommerce.Settings
@using MrCMS.Website
@model MrCMS.Web.Apps.Amazon.Models.AmazonDashboardModel

<div class="row">
    <div class="col-lg-12">
        <div class="dashboard-box">
            <div class="graphics">
                <div id="orders"></div>
            </div>
            <div class="info orders">
                <div class="stats">
                </div>
                <div class="stats-description">
                    Revenue (@(MrCMSApplication.Get<EcommerceSettings>().Currency.Code))
                </div>
            </div>
            @Html.ActionLink("All Orders", "Index", "Orders", null, new { @class = "more-info peter-river" })
        </div>
    </div>
</div>
