@using System.Web.Mvc.Html
@using MrCMS.Helpers
@model MrCMS.Web.Apps.Amazon.Models.AmazonDashboardModel
@{
    ViewBag.Title = "Amazon App Testing Playground";
}

<h4>Amazon App Testing Playground</h4>

@Html.Hidden("taskId",Guid.NewGuid())
<div id="pb-status" style="display:none" class="alert alert-info">
    <ul></ul>
</div>
             <div id="pb" style="display:none">
                 <div class="progress progress-info progress-striped">
                     <div class="bar" style="width: 0%;"></div>
                 </div>
             </div>
<button type="button" class="btn btn-danger" id="pb-start-task">
    Test Progress Bar</button>

<hr/>
 @Html.ActionLink("Test Amazon Connection", "TestConnectionToAmazon", "App", null, new { @class = "btn btn-danger"})


@{ Html.IncludeScript("~/Apps/Amazon/Areas/Admin/Content/Scripts/custom/progress-bar.js");}
@{ Html.IncludeScript("~/Apps/Amazon/Areas/Admin/Content/Scripts/custom/app.js");}