@using MrCMS.Web.Apps.Ecommerce.Entities.Orders
@model MrCMS.Web.Apps.Core.Models.RegisterAndLogin.LoginModel
@{
    var order = ViewData["order"] as Order;
    var errorMessage = TempData["register-error"] as string;
}
<div class="margin-bottom-20 grey-border">
    <div class="block-title">
        <div class="h1style">
            Log in to remember your order
        </div>
    </div>
    <div class="padding-20">
        <p>
            Enter your password :
        </p>
        @using (Html.BeginForm("LoginAndAssociateOrder", "OrderPlaced", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.HiddenFor(model => model.Email)
            @Html.Hidden("Id", order.Guid)
            <div class="margin-bottom">
                @Html.PasswordFor(model => model.Password, new { @class = "span6" })
                @Html.ValidationMessageFor(x=>x.Password)
            </div>
            <br />
            <div class="row">
                <div class="col-sm-4">
                    <input type="submit" class="btn btn-danger btn-block" value="Continue" />
                </div>
            </div>
        }
    </div>
</div>
