@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@{
    ViewBag.Title = "Add Discount Code";
}

@{ Layout = "~/Apps/Ecommerce/Views/Shared/_EcommercePopup.cshtml";}	 
@using (Html.BeginForm("AddDiscountCode", "Cart", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Add Discount Code</h3>
    </div>
    <div class="modal-body">
        @Html.LabelFor(x => x.DiscountCode)
        @Html.TextBoxFor(x => x.DiscountCode)
        @Html.ValidationMessageFor(x => x.DiscountCode)
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Add Discount Code" />
    </div>
}