@model MrCMS.Web.Apps.Ecommerce.Models.CartModel

@if(Model.Items.Any())
{
<h4>Your Order</h4>
<br />
<div>
    <div class="span6">Order</div>
    <div>&pound;@Model.TotalPreShipping</div>
</div>
    <div class="clearfix"></div>
    <div>
    @if (Model.ShippingMethod != null)
         {
                <div class="span6">Shipping</div>
            <div>
             @Html.Raw("&pound;" + (Model.ShippingTotal.HasValue?Model.ShippingTotal.Value.ToString("#.##"):"Will be calculated on the checkout."))
               </div>
         }
</div>
<div class="clearfix"></div>
<div>
    <div class="span6">Total</div>  
    <div>&pound;@Model.Total</div>
</div>
}