@model MrCMS.Web.Apps.Ecommerce.Models.CartModel

<div id="basic-details">
@if(Model.Items.Any())
{
<h4>Your Order</h4>
<br />
<div>
    <div class="span6">Order</div>
    <div>&pound;@Model.TotalPreShipping.ToString("#.##")</div>
</div>
    <div class="clearfix"></div>
    <div>
                <div class="span6">Shipping</div>
            <div>
             @Html.Raw(Model.ShippingTotal.HasValue?"&pound;"+Model.ShippingTotal.Value.ToString("#.##"):"Will be calculated on the checkout.<br/><br/>")
               </div>
</div>
<div class="clearfix"></div>
<div>
    <div class="span6">Total</div>  
    <div>&pound;@Model.Total.ToString("#.##")</div>
</div>
}
</div>