@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@using MrCMS.Helpers

@if(Model.Items.Any())
{
<h4>Your Order</h4>
<br />
<div>
    <div class="span6">Order</div>
    <div>&pound;@Model.TotalPreShipping</div>
</div>
    <div class="clearfix"></div>
    <div>
    <div class="span6">Shipping</div>
    <div>&pound;@(Model.ShippingTotal!=null?Model.ShippingTotal:0)</div>
</div>
<div class="clearfix"></div>
<div>
    <div class="span6">Total</div>
    <div>&pound;@Model.Total</div>
</div>
}