@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@using MrCMS.Helpers

<p><strong>Your Email</strong></p>
<p>@Model.OrderEmail</p>
<button class="btn btn-info" type="button" id="edit" name="edit">Edit</button>