@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@using MrCMS.Helpers

<p><strong>Your Email</strong></p>
<p>@Model.OrderEmail</p>
<a class="btn btn-info" id="edit" href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.EnterOrderEmail>())">Edit</a>