@model List<MrCMS.Web.Apps.Ecommerce.Entities.Shipping.ShippingMethod>

<hr/>
@if (Model!=null && Model.Any())
{
    <div class="span4" style="margin:0">Please choose Shipping Method*:</div>
    <div>
    <select name="ShippingMethod.Id" id="ShippingMethods">
        @foreach (var shippingMethod in Model)
        {
            <option value="@shippingMethod.Id">@shippingMethod.Name</option>
        }
    </select>
    </div>
}
else
{
    <span>Choosen country does not have any shipping method specified. Please contact System Administration.</span><br/>
}
