@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Pages.ContactUs

<div class="container">
    <h1>@Editable(Model, us => us.Name)</h1>
    <hr />
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            @Editable(Model, us => us.Address, true)
        </div>
        <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
            @Editable(Model, us => us.BodyContent, true)
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="map-canvas" class="img-responsive center-block margin-bottom-20"></div>
        </div>
    </div>
</div>



<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
@{
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/contact-us.js");
}