@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@model NewInProducts
<div class="container">
    <h1>@Editable(Model, model => model.Name)</h1>
    @Editable(Model, model => model.BodyContent, true)
    <div class="row-fluid">
        @{
            var products = ViewData["newinproducts"] as IList<Product>;
            foreach (var chunk in products.Chunk(4))
            {
                <div class="row-fluid">
                    @foreach (var product in chunk)
                    {
                        Html.RenderPartial("ProductCardFeatured", product);
                    }
                </div>
            }
        }
    </div>
</div>
