@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@model MrCMS.Web.Apps.Ecommerce.Pages.NewInProducts
<div class="container">
    <div class="row-fluid">
        <div class="span12">
            @{
                var products = ViewData["newinproducts"] as IList<Product>;

                foreach (var chunk in products.Chunk(4))
                {
                <div class="row-fluid">
                    @foreach (var product in chunk)
                    {
                        Html.RenderPartial("ProductCardFeatured", product);
                    }
                </div>
                }
            }
        </div>
    </div>
</div>
