@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Models
@using MrCMS.Web.Apps.Ecommerce.Pages
@model NewInProducts
    
<h1>@Editable(Model, model => model.Name)</h1>
@Editable(Model, model => model.BodyContent, true)

@{
    var products = ViewData["newinproducts"] as IList<Product>;
    foreach (var chunk in products.Chunk(4))
    {
        <div class="row">
            @foreach (var product in chunk)
            {
                <div class="col-md-2 col-sm-2 col-xs-6">
                    @{
                        Html.RenderPartial("ProductCardFeatured", product);
                    }
                </div>
            }
        </div>
    }
}
        
