@model MrCMS.Web.Apps.Ecommerce.Pages.OrderPlaced
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Core.Models
@using MrCMS.Web.Apps.Ecommerce.Controllers
@using MrCMS.Web.Apps.Ecommerce.Entities.Orders
@using MrCMS.Website
@{
    var order = ViewData["order"] as Order;
    var emailRegistrationStatus = ViewData["user-can-register"] is EmailRegistrationStatus ? (EmailRegistrationStatus)ViewData["user-can-register"] : EmailRegistrationStatus.Available;
}
<h1>Order Complete</h1>
<div class="row-fluid">
    <h4 class="green-tick">Your order (ID:@order.Id) was successfully processed.</h4>
    <p>
        Thank you for shopping with Mr CMS Ecommerce!
    </p>
</div>

 @switch (emailRegistrationStatus)
        {
            case EmailRegistrationStatus.EmailInUse:
                Html.RenderPartial("LoginAndAssociateOrder", new LoginModel { Email = order.OrderEmail });
                break;
            case EmailRegistrationStatus.Available:
                Html.RenderPartial("RegisterAndAssociateOrder", new RegisterModel { Email = order.OrderEmail, FirstName = order.BillingAddress.FirstName, LastName = order.BillingAddress.LastName });
                break;
        }

<hr />
<a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.ProductSearch>())" class="btn btn-info" >Return to shop
</a>