@model MrCMS.Web.Apps.Ecommerce.Pages.OrderPlaced
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Entities.Orders
@using MrCMS.Website
@{
    var order = ViewData["order"] as Order;
}

<h4>Woahh! That was fast!
</h4>
<p>
    Your order (ID:@order.Id) was successfully processed.
</p>
<p>
    Thank you for shopping with Mr CMS Ecommerce!
</p>

<hr />

@{
            if (CurrentRequestData.CurrentUser == null)
            {
            <div class="border-grey margin-bottom-20">
                <div class="sub-header grey-background">
                    Would you like us to remember your details for next time?
                </div>
                <div class="padding-20">
                    <p>
                        Simply enter a password :
                    </p>
                    @using (Html.BeginForm("RegistrationWithoutDetails", "UserAccount", null, FormMethod.Post, new { @class = "form-horizontal" }))
                    {
                        @Html.Hidden("Email", order.OrderEmail)
                        @Html.Hidden("OrderId", order.Id)
                        <div class="row-fluid">
                            <input type="password" name="Password" id="password" class="span6" required />
                        </div>
                        <br />
                        <div class="row-fluid">
                            <input type="submit" class="btn red-gradient span4" value="Continue" />
                        </div>
                    }
                </div>
            </div>
            }
        }


<hr />

<a href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.ProductSearch>())" class="btn btn-info" >Return to shop
</a>