@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Models
@model MrCMS.Web.Apps.Ecommerce.Pages.PaymentDetails
@{ var cart = ViewData["cart"] as CartModel;}
@{ var settingBillingAddress = ViewData["setting-billing-address"] is bool && (bool)ViewData["setting-billing-address"];}

<div class="row-fluid">
    <div class="span8">
        <h4>Billing Address
        </h4>
        @using (Html.BeginForm("BillingAddressSameAsShippingAddress", "PaymentDetails", FormMethod.Post))
        {
            <label>
                @Html.CheckBox("SameAsShipping", cart.BillingAddressSameAsShippingAddress)
                Billing address same as shipping address?
            </label>
        }
        @if (settingBillingAddress)
        {
            Html.RenderAction("SetBillingAddress", "PaymentDetails");
        }
        else if (!cart.BillingAddressSameAsShippingAddress)
        {
            <p>
                @cart.BillingAddress.Address1, @cart.BillingAddress.Address2, @cart.BillingAddress.City
            </p>
            using (Html.BeginForm("SetBillingAddress", "PaymentDetails", FormMethod.Post))
            {
            <input class="btn btn-primary" value="Change" type="submit" />
            }
        }
        <h4>Payment details</h4>
        @if (!settingBillingAddress)
        {
            Html.RenderPartial("SelectMethod", cart);
            <div id="payment-confirmation">
                @if (!string.IsNullOrWhiteSpace(cart.PaymentMethod))
                {
                    Html.RenderAction(cart.PaymentMethod, "PaymentMethod");
                }
            </div>
        }
        else
        {
            <p>Select after updating billing address...</p>
        }
    </div>
    <div class="span4">
        @{Html.RenderAction("Summary", "Checkout");}
        <hr />
        @{Html.RenderAction("OrderEmail", "Checkout");}
        <hr />
        @{Html.RenderAction("DeliveryDetails", "Checkout");}
    </div>
</div>

@{ Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/payment-details.js"); }

