@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Helpers
@using MrCMS.Web.Apps.Ecommerce.Models
@model MrCMS.Web.Apps.Ecommerce.Pages.PaymentDetails
@{ var cart = ViewData["cart"] as CartModel;}
@{ var settingBillingAddress = ViewData["setting-billing-address"] is bool && (bool)ViewData["setting-billing-address"];}

<div class="padding-top-bottom-20">
    <div class="row">
        <div class="col-lg-7 col-md-8 col-sm-8 padding-left-0 mobile-left-padding">
            <div class="block-title">
                <h1>Billing Address</h1>
            </div>
            @if (cart.RequiresShipping && cart.BillingAddressSameAsShippingAddress)
            {
                using (Html.BeginForm("BillingAddressSameAsShippingAddress", "PaymentDetails", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="checkbox">
                        <label>
                            @Html.CheckBox("SameAsShipping", cart.BillingAddressSameAsShippingAddress) Use Delivery Address 
                        </label>
                        <div class="controls">
                            @cart.ShippingAddress.GetDescription()
                        </div>
                    </div>
                }
            }

            @if (settingBillingAddress)
            {
                Html.RenderAction("SetBillingAddress", "PaymentDetails");
            }
            else if (!cart.BillingAddressSameAsShippingAddress && cart.BillingAddress != null)
            {
                <div class="margin-bottom-10">
                    <label>
                        Billing Address :
                    </label>
                    @cart.BillingAddress.GetDescription()
                </div>

                using (Html.BeginForm("UpdateBillingAddress", "PaymentDetails", FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="control-group">
                        <div class="controls">
                            <input class="btn btn-info" value="Edit" type="submit" />
                        </div>
                    </div>
                }
            }

            <br />

            <div class="block-title">
                <div class="h1style">Payment Details</div>
            </div>
            @if (!settingBillingAddress)
            {
                Html.RenderPartial("SelectMethod", cart);
                <div id="payment-confirmation">
                    @if (cart.PaymentMethodSet)
                    {
                        Html.RenderAction(cart.PaymentMethodAction, cart.PaymentMethodController);
                    }
                </div>
            }
            else
            {
                <p>Select after updating billing address...</p>
            }
        </div>
        <div class="col-lg-5 col-md-4 col-sm-4">
            @{Html.RenderAction("Summary", "Checkout");}
            @{Html.RenderAction("OrderEmail", "Checkout");}
            @if (cart.RequiresShipping)
            {
                Html.RenderAction("DeliveryDetails", "Checkout");
            }
        </div>
    </div>
</div>

@{ Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/payment-details.js"); }

