@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Models
@model MrCMS.Web.Apps.Ecommerce.Pages.SetShippingDetails
@{
    var cart = ViewData["cart"] as CartModel;
}

<div class="row padding-top-bottom-10">
    <div class="col-lg-7 col-md-8 col-sm-8">
        <div id="address-info">
            @{
                Html.RenderAction(cart.ShippingAddress == null ? "ShippingAddress" : "ShowShippingAddress", "SetShippingAddress");
            }
        </div>
        <div id="method-info">
            @{
                Html.RenderAction(cart.ShippingAddress == null ? "AwaitingAddress" : "ShippingOptions", "SetShippingMethod");
            }
        </div>
    </div>
    <div class="col-lg-5 col-md-4 col-sm-4">
        @{Html.RenderAction("Summary", "Checkout");}
        @{Html.RenderAction("OrderEmail", "Checkout");}
    </div>
</div>

@{ Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/shipping-methods.js"); }