@model MrCMS.Web.Apps.Ecommerce.Pages.UserAccount
@if (ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
else
{
    <br/>
}
<div class="row-fluid">
    <div class="span6">
        @{Html.RenderAction("UserAccountDetails", "UserAccount");}
    </div>
    <div class="span6">
        @{Html.RenderAction("UserAccountOrders", "UserAccount", new {page=(ViewBag.PageNum!=null?(int)ViewBag.PageNum:1)});}
    </div>
</div>
