@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Entities.Users
@using MrCMS.Web.Apps.Ecommerce.Pages
@model UserAccountEditAddress
@{
    var address = ViewData["address"] as Address;
}

<h1>@Editable(Model, page => page.Name)</h1>
@Editable(Model, page => page.BodyContent)

<a href="@(UniquePageHelper.GetUrl<UserAccountAddresses>())" class="btn btn-default">@Resource("Back")</a>

@if (address != null)
{
    Html.RenderPartial("Edit", address);
}