@using MrCMS.Web.Apps.Ecommerce.Entities.Products
@using MrCMS.Web.Apps.Ecommerce.Models
@using MrCMS.Web.Apps.Ecommerce.Settings
@using MrCMS.Web.Apps.Ecommerce.Helpers
@using MrCMS.Website
@model MrCMS.Web.Apps.Ecommerce.Pages.Wishlist
@{
    var wishlist = ViewData["wishlist"] as IList<WishlistItem> ?? new List<WishlistItem>();
}
<div class="row-fluid" id="product-search-container">
    <div class="span3">
        <h5>Left Column</h5>
    </div>
    <div class="span9">
        <div id="products">
            @foreach (var productVariant in wishlist.Select(item => item.Item))
            {
                Html.RenderPartial("VariantCard", productVariant);
            }
        </div>
    </div>
</div>
