.twitter-typeahead
{
    float:right !important;
    min-width:300px;
}

#custom-templates .empty-message, 
#custom-templates-mobile .empty-message {
    padding: 5px 10px;
    text-align: center;
    background-color: beige;
    font-size: 0.95em;
}

#custom-templates .search-options-list,
#custom-templates-mobile .search-options-list {
    background-color: azure;
    min-height: 3.5em;
    display: block;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ccc;
    color: #222;
    cursor: pointer;
}

#custom-templates div.search-options-list:hover,
#custom-templates-mobile div.search-options-list:hover {
    background-color: aliceblue;
}


#custom-templates .product-name-container,
#custom-templates-mobile .product-name-container {
    font-size: 0.95em;
    width: 68% !important;
    max-width: 68% !important;
    display: inline-flex;
    float: left;
    text-align: center;
    padding-left: 2%;
    padding-top: 1em;
    min-height: 3.5em;
    vertical-align: middle;
}

#custom-templates .price-container,
#custom-templates-mobile .price-container {
    font-size: 0.85em;
    color: #c90404;
    font-weight: bold;
    display: inline-flex;
    float: right;
    padding-left: 2%;
    width: 13% !important;
    max-width: 13% !important;
}

#custom-templates .imageDisplayUrl-container,
#custom-templates-mobile .imageDisplayUrl-container {
    width: 15% !important;
    max-width: 15% !important;
    display: inline-flex;
    float: left;
}

#custom-templates .imageDisplayUrl-container img,
#custom-templates-mobile .imageDisplayUrl-container img {
    width: 40px !important;
    max-width: 40px !important;
    height: auto;
}

header .search-box, .twitter-typeahead {
    padding-right: 2px !important;
    min-width: 400px;
}

/*default*/
@media (min-width:993px) {
    .twitter-typeahead {
        float: right !important;
        min-width: 400px !important;
        font-size: 0.85em;
    }

    #custom-templates .search-options-list {
        min-width: 400px !important;
    }
}


/*tablet*/
@media(min-width: 768px) and (max-width:992px) 
{
    #search-box, .twitter-typeahead {
        float: right !important;
        min-width: 340px !important;
        font-size: 0.75em;
    }

    header #search-box,
    #custom-templates .search-options-list {
        min-width: 340px !important;
    }
}

/*mobile*/
@media (max-width:768px) {
    .twitter-typeahead {
        float: right !important;
        min-width: 280px !important;
        font-size: 0.65em;
    }

    #custom-templates-mobile .search-options-list {
        min-width: 280px !important;
    }
}