@using MrCMS.Web.Apps.Ecommerce.Helpers
@model MrCMS.Web.Apps.Ecommerce.Entities.Users.Address
<div id="delivery-address-container">
    <div class="border-all margin-bottom-20">
        <div class="sub-header grey-background">
            @Resource("Delivering to"):
        </div>
        <div class="padding-20">
            <div class="margin-bottom-10">
                @Html.Raw(Model.GetDescriptionHtml())
            </div>
            <div>
                <button data-edit-address="true" class="btn btn-default margin-bottom-10">@Resource("Edit")</button>
            </div>
        </div>
    </div>
</div>