@model MrCMS.Web.Apps.Ecommerce.Stock.Entities.Warehouse

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Add", "Warehouse", FormMethod.Post))
{
    <fieldset>
        <legend>
            Add warehouse
            <span class="btn-group display-inline pull-right">
                <button type="submit" class="btn btn-primary">Add</button>
            </span>
        </legend>
        <div class="form-group">
            @Html.LabelFor(warehouse => warehouse.Name)
            @Html.TextBoxFor(warehouse => warehouse.Name, new { @class = "form-control" })
            @Html.ValidationMessageFor(warehouse => warehouse.Name)
        </div>
    </fieldset>
}