@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Helpers
           
<div class="row-fluid">
    <div class="span8 top-basket no-margin-left text-align-center">
        <div id="basket-info-box">
            <img src="/Themes/Ryness/Content/Images/basket.jpg" alt="Basket"/>Your basket has
            @if (Model.ItemQuantity > 0)
            {
                <a href="/basket">@Model.ItemQuantity</a><span> @(Model.ItemQuantity==1?"item":"items"). <a href="/basket">@Model.Total.ToCurrencyFormat()</a></span>
            }
            else
            {
                <span><a href="/basket">0</a> items.</span>
            }
        </div>
    </div>
    <div class="span4 no-margin-left top-checkout">
        <div class="row-fluid">
            <a class="generic-button green-gradient span12 text-align-center" href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.EnterOrderEmail>())">Checkout</a>
        </div>
    </div>
</div>