@model MrCMS.Web.Apps.Ecommerce.Widgets.FeaturedProductsViewModel
@if (Model != null)
{
    <div class="container">
        <div class="row-fluid padding-top-bottom-10">
            <div class="span12">
                @if (!String.IsNullOrEmpty(Model.Title))
                {
                    <div class="section-header">
                        <span>@Model.Title</span>
                    </div>
            }
                <div class="row-fluid grid-items">
                    @foreach (var item in Model.Products)
                    {
                        Html.RenderPartial("ProductCardFeatured", item);
                    }
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
}