@model MrCMS.Web.Apps.Ecommerce.Widgets.FeaturedCategoriesViewModel
@if (Model != null)
{
    <div class="container">
        <div class="row-fluid">
            <div class="span12">
                @if (!String.IsNullOrEmpty(Model.Title))
                {
                    <div class="section-header">
                        <span>@Model.Title</span>
                    </div>
                    <div class="row-fluid grid-items">
                        @foreach (var item in Model.Categories)
                        {
                            <div class="span3">
                                <div class="category-picture text-align-center margin-top-10 padding-top-bottom-10">
                                    <a href="/@item.LiveUrlSegment" title="@item.Name">
                                        @if (item.FeatureImage != null)
                                        {
                                            @RenderImage(item.FeatureImage)
                                        }
                                    </a>
                                </div>
                                <div class="category-name">
                                    <h3><a href="/@item.LiveUrlSegment">@item.Name</a></h3>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        }
                    </div>
                    <div class="clearfix"></div>
            }
            </div>
        </div>
    </div>
}