@model List<MrCMS.Web.Apps.Ecommerce.Pages.Product>
@if (Model != null && Model.Any())
{
    <div class="row-fluid block hidden-phone">
        <div class="span12">
            <div class="block-header">
                Recently viewed products
            </div>
            <div class="block-list">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li>
                            <a href="/@item.LiveUrlSegment">
                                @item.Name
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
}