@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductOption
@using (Html.BeginForm("Add", "ProductOption", new { id = "" }, FormMethod.Post, new { id = "add-new-option-form", style = "margin:0px;" }))
{

    <div class="input-group">
        @Html.TextBoxFor(option => option.Name, new { @class = "form-control" })
        <span class="input-group-btn">
            <input type="submit" class="btn btn-primary" value="Add new" id="add-new-product-option" />
        </span>
    </div>
}

