@model MrCMS.Web.Apps.Ecommerce.Entities.Tax.TaxRate

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Delete", "TaxRate", FormMethod.Post))
{
    <fieldset>
        <legend>
            Delete Tax Rate
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Delete tax rate" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Id)
        <p>
            Are you sure you want to delete the tax rate @Model.Name ? Deleting this tax rate can not be undone.
        </p>
    </fieldset>
}