@using MrCMS.Helpers
@using MrCMS.Web.Apps.Core.Pages
@model MrCMS.Web.Apps.Core.Pages.ForgottenPasswordPage
@{
    var message = ViewData["message"] as string;
}
<div class="container">
    <h1>Forgot Password</h1>
    <hr/>
    @Editable(Model, page => page.BodyContent)

    @if (!string.IsNullOrEmpty(message))
    {
        <div class="alert alert-success">
            @Html.Raw(message)
        </div>
    }
    @using (Html.BeginForm("ForgottenPassword", "Login", FormMethod.Post))
    {
        <div class="row">
            <div class="col-sm-6">
                <div class="control-group margin-bottom-10">
                    <label class="control-label" for="Email">Email</label>
                    <div class="controls">
                        @Html.TextBox("Email", null, new {@class="form-control"})
                    </div>
                </div>
                <div class="control-group margin-bottom-10">
                    <div class="controls">
                        <input type="submit" value="Recover password" class="btn btn-default btn-block" />
                    </div>
                </div>
                <a href="@( UniquePageHelper.GetUrl<LoginPage>() )">Login</a>
            </div>
        </div>
    }

</div>
@{Html.IncludeScript("~/Apps/Core/Content/Scripts/forgot-password.js");}