@using MrCMS.Helpers
@using MrCMS.Web.Apps.Core.Models
@using MrCMS.Web.Apps.Core.Models.RegisterAndLogin
@model MrCMS.Web.Apps.Core.Pages.LoginPage
<div class="container">
    <h1>Login</h1>
    <hr/>
    @Editable(Model, page => page.BodyContent, true)
    @{ Html.RenderPartial("LoginBox", ViewData["login-model"] as LoginModel);}
</div>