@using MrCMS.Helpers
@using MrCMS.Models
@using MrCMS.Web.Apps.Core.Models
@model MrCMS.Web.Apps.Core.Pages.ResetPasswordPage 
@{
    var pwrModel = ViewData["ResetPasswordViewModel"] as ResetPasswordViewModel;
}
<div class="container">
    <h1>Reset Password</h1>
    <hr/>
    <p>To reset your password enter your email and new password below.</p>
    @Editable(Model, page => page.BodyContent)
    @{Html.RenderPartial("PasswordReset", pwrModel);}
</div>