@model MrCMS.Web.Apps.Ecommerce.Entities.DiscountLimitations.ShippingPostcodeStartsWith
@{
}
<div class="form-group">
    @Html.LabelFor(x => x.ShippingPostcode)
    @Html.TextBoxFor(x => x.ShippingPostcode, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.ShippingPostcode)
</div>