@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
}
<fieldset>
    <legend>
        @Resource("No checkbox has been selected")
    </legend>
</fieldset>

<div class="alert alert-info">
    @Resource("Please select at least a checkbox for bulk actions!")
</div>