@model MrCMS.Web.Apps.Ecommerce.Entities.Products.Brand

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Add", "Brand", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Add Brand</h3>
    </div>
    <div class="modal-body">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Add Brand" />
    </div>
}