@model MrCMS.Web.Apps.Ecommerce.Entities.Products.Brand

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Delete", "Brand", FormMethod.Post))
{
    <fieldset>
        <legend>
            Delete Brand
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Delete Brand" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Id)
        <p>
            Are you sure you want to delete the brand ? Deleting this item can not be undone.
        </p>
    </fieldset>
}