@model MrCMS.Web.Apps.Ecommerce.Entities.Products.Brand

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Edit", "Brand", FormMethod.Post))
{
    <fieldset>
        <legend>Edit Brand
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Save Changes" />
            </span>
        </legend>
        @Html.HiddenFor(x => x.Id)

        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name)
        @Html.ValidationMessageFor(x => x.Name)
    </fieldset>
}