@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
<div class="form-horizontal">
    <h5>Select Payment Method</h5>
    <div class="control-group">
        <label class="control-label">
            Payment Method <span class="red">*</span> :
        </label>
        <div class="controls">
            @foreach (var paymentMethod in Model.AvailablePaymentMethods)
            {
                <label class="radio">@paymentMethod.Name @Html.RadioButtonFor(details => details.PaymentMethod, paymentMethod.SystemName)</label>
            }
        </div>
    </div>
</div>
