@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
<div class="form-horizontal">
    <h3>Select Payment Method</h3>
    <div class="margin-bottom-10">
        <label>
            Payment Method <span class="red">*</span> :
        </label>
        <div class="margin-bottom-10">
            @foreach (var paymentMethod in Model.AvailablePaymentMethods)
            {
                <label class="radio">@paymentMethod.Name @Html.RadioButtonFor(details => details.PaymentMethod, paymentMethod.SystemName)</label>
            }
        </div>
    </div>
</div>
