@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Settings
@model dynamic 

<div class="row">
    <div class="col-lg-6">
        <h4 class="chart-title">Revenue today</h4>
        <div id="revenue-today"></div>
    </div>
    <div class="col-lg-6">
        <h4 class="chart-title">Revenue in last @(SiteSettings<EcommerceSettings>().DashboardRevenueDays) days</h4>
        <div id="revenue-this-week"></div>
    </div>
</div>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/dashboard.js"); }
@{ Html.IncludeCss("~/Apps/Ecommerce/Areas/Admin/Content/Styles/dashboard.css"); }