html, body {background: #ffffff; font-family:arial, verdana, helvetica, sans-serif;color:#000000;font-size: 13px;}
h1 {font-size: 21px;line-height: 28px;font-weight: normal;padding:0;margin: 0;color: #000000;}
h2 { font-size: 18px;line-height: 21px;color: #000;font-weight: 900;padding: 0;}
h3 {font-size:15px;font-weight:900;margin:10px 0;line-height:18px;}
a { color: #C5251E;text-decoration: none;}
a:hover { color: #000000;text-decoration: underline;}
a.active { color: #000000;text-decoration: none;}
hr { border-top: 1px solid #eaeaea;border-bottom: 1px solid #ffffff;}
#map_canvas {height: 600px;width: 100%;}
.bold-font { font-weight: 700;}
.italic-text { font-style: italic;}
.white-text { color:#ffffff;}
.white-background {background:#ffffff;}
.line-height-27 { line-height: 27px;}
.line-height-30 {line-height:30px;}
.text-align-center { text-align: center;}
.text-align-left { text-align: left;}
.text-align-right {text-align:right;}
.padding-10 {padding:10px;}
.padding-top-5 { padding-top: 5px;}
.padding-bottom-10 { padding-bottom: 10px;}
.padding-top-bottom-10 { padding: 10px 0;}
.padding-top-bottom-15 { padding: 15px 0;}
.padding-top-bottom-20 { padding: 20px 0;}
.padding-top-bottom-25 { padding: 25px 0;}
.padding-top-bottom-5 { padding: 5px 0;}
.padding-left-right-10 {padding:0 10px;}
.padding-left-right-20 {padding:0 20px;}
.padding-left-10 {padding-left: 10px;}
.padding-left-20 {padding-left: 20px;}
.padding-right-10 {padding-right: 10px;}
.padding-right-20 {padding-right: 20px;}
.margin-top-10 {margin-top:10px;}
.margin-bottom-10 {margin-bottom:10px;}
.margin-top-13 {margin-top:13px;}
.padding-top-20 {padding-top:20px;}
.margin-top-bottom-10 {margin:10px 0;}
.margin-bottom-20 {margin-bottom:20px;}
.margin-top-bottom-20 {margin:20px 0;}
.margin-top-20 { margin-top: 20px;}
.margin-top-25 {margin-top:25px;}
.dashed-border-bottom {border-bottom:1px dashed #e8e8e8;}
.border-top {border-top:1px solid #e8e8e8;}
.border-each {border:1px solid #e8e8e8;}
.border-bottom {border-bottom:1px solid #e8e8e8;}
.navbar {margin-bottom:0;}
input[type="radio"], input[type="checkbox"] {margin:0;}
.red {color:#C5251E !important;}
.out-of-stock { border: #C5251E 1px solid;padding-top: 10px;}
.hideproductimage { display: none;}
.green-tick { color: #73C01A;background: url('/Apps/Ecommerce/Content/Images/tick.png') no-repeat left center;padding-left: 20px; }
.btn-white { font-weight: 700;font-size: 12px;}
.productaddedtocart h2 { margin: 0 0 10px;}
#product-results-container .list-items { padding: 10px 0;}
.quick-buy .generic-button { margin-left: 0;}
.navbar-inverse .navbar-inner {background:inherit;border:none;box-shadow:none;padding-left:0;padding-right:0;padding:2px 0 1px 0;min-height: 37px;filter:none;background-color: transparent;}
.navbar-inverse .brand, .navbar-inverse .nav {border-left:1px solid #d6d6d6;margin-right:0;}
.navbar-inverse .brand, .navbar-inverse .nav > li {background:url(/Themes/Ryness/Content/Images/sep.jpg) no-repeat right center;padding:0 2px 0 0;position:relative;}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {color: #444444;text-shadow: none;padding:8px 22px 9px 22px;}
.navbar-inverse .brand, .navbar-inverse .nav > li > a.home {padding:8px 27px 9px 27px;}
.navbar-inverse .brand, .navbar-inverse .nav > li > a:hover {color: #444444;text-shadow: none;background:#eeeeee url(/Themes/Ryness/Content/Images/menu-active.jpg) repeat-x;-webkit-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);-moz-box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);box-shadow: inset 0 3px 8px rgba(0,0,0,0.125);}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {color: #444444;background:#eeeeee url(/Themes/Ryness/Content/Images/menu-active.jpg) repeat-x;}

.navbar-inverse .btn-navbar {
    background-color: #D30000;
    background-image: -moz-linear-gradient(top, #D30000, #B20301);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#D30000), to(#B20301));
    background-image: -webkit-linear-gradient(top, #D30000, #B20301);
    background-image: -o-linear-gradient(top, #D30000, #B20301);
    background-image: linear-gradient(to bottom, #D30000, #B20301);
    background-repeat: repeat-x;
    border-color: #040404 #040404 #000000;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffD30000', endColorstr='#ffB20301', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.navbar-inverse .btn-navbar:hover, .navbar-inverse .btn-navbar:active, .navbar-inverse .btn-navbar.active, .navbar-inverse .btn-navbar.disabled, .navbar-inverse .btn-navbar[disabled] {
    background-color: #B20301;
}

/*dropdown menu css start*/
.navbar-inverse .nav > li ul {margin:0;padding:0;position:absolute;top:37px;left:-1px;z-index:999999;display: none;width:220px;border-left:1px solid #dddddd;border-bottom:1px solid #dddddd;border-right:1px solid #dddddd;background:#dddddd;list-style-type:none;height:auto;border-top:1px solid #dddddd;}
.navbar-inverse .nav > li ul li {display:block;float:none;line-height:18px;background:#ffffff;margin-top:1px;width:auto;text-align:left;}
.navbar-inverse .nav > li ul li:hover
{
    background:#D30000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D30000), color-stop(100%, #B20301));
    background-image: -webkit-linear-gradient(top, #D30000, #B20301);
    background-image: -moz-linear-gradient(top, #D30000, #B20301);
    background-image: -ms-linear-gradient(top, #D30000, #B20301);
    background-image: -o-linear-gradient(top, #D30000, #B20301);
    background-image: linear-gradient(top, #D30000, #B20301);
}
.navbar-inverse .nav > li ul li a {line-height:18px;padding:10px 30px 10px 10px;display:block;color:#000000;font-weight:bold;background:url(/Themes/Ryness/Content/Images/list-style.png) no-repeat 195px center;}
.navbar-inverse .nav > li ul li a:hover, .navbar-inverse .nav > li ul li a.active {
    text-decoration:none;
    color:#ffffff;
    background:url(../images/list-hover.png) no-repeat 195px center;
}
.navbar-inverse .nav > li:hover > ul {display: block;}
.navbar-inverse .nav > li ul li ul {margin:0;padding:0;position:absolute;top:-1px;left:220px;z-index:999999;display: none;width:220px;border-left:1px solid #dddddd;border-bottom:1px solid #dddddd;border-right:1px solid #dddddd;background:#dddddd;list-style-type:none;height:auto;border-top:1px solid #dddddd;}
.navbar-inverse .nav > li ul li ul li {display:block;float:none;line-height:18px;background:#ffffff;margin-top:1px;width:auto;text-align:left;}
.navbar-inverse .nav > li ul li ul li:hover {
    background:#D30000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D30000), color-stop(100%, #B20301));
    background-image: -webkit-linear-gradient(top, #D30000, #B20301);
    background-image: -moz-linear-gradient(top, #D30000, #B20301);
    background-image: -ms-linear-gradient(top, #D30000, #B20301);
    background-image: -o-linear-gradient(top, #D30000, #B20301);
    background-image: linear-gradient(top, #D30000, #B20301);
}
.navbar-inverse .nav > li ul li ul li a {padding:10px;display:block;color:#000000;font-weight:bold;}
.navbar-inverse .nav > li ul li ul li a:hover {
    text-decoration:none;
    color:#ffffff;
    background:url(/Themes/Ryness/Content/Images/list-hover.png) no-repeat 195px center;
}
.navbar-inverse .nav > li ul li:hover > ul {display: block;}
/*dropdown menu css end*/

.search-con {/*background:url(/Themes/Ryness/Content/Images/search-background.jpg) repeat-x;*/-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
.search-con input[type="text"], .search-con input[type="submit"] {margin-bottom:0;}
.search-text {background:url(/Themes/Ryness/Content/Images/search.jpg) no-repeat 5px 7px;padding-left:25px !important;}
.header-links {}
.header-links ul {margin:0;padding:0;}
.header-links ul li {margin:0;padding:0 0 0 10px;float:right;list-style-type:none;color:#c3c3c3;}
.header-links ul li a {padding-left:20px;}
.header-links ul li a.ico-account {background:url(/Themes/Ryness/Content/Images/account.jpg) no-repeat 0 0;}
.header-links ul li a.ico-stores {background:url(/Themes/Ryness/Content/Images/store.jpg) no-repeat 0 0;}
.top-basket-bg {background:url(/Themes/Ryness/Content/Images/basket-bg.jpg) no-repeat 0 0;height:47px;width:4px;}
.top-basket {border-top:1px solid #dddddd;border-bottom:1px solid #dddddd;border-left:1px solid #dddddd;-webkit-border-radius: 3px 0 0 3px;    -moz-border-radius: 3px 0 0 3px;    -ms-border-radius: 3px 0 0 3px;    -o-border-radius: 3px 0 0 3px;    border-radius: 3px 0 0 3px;color:#c3c3c3;font-size:12px;word-spacing:-1px;}
.no-margin-left {margin-left:0 !important;}
.menu-con {background:url(/Themes/Ryness/Content/Images/menu-bg.jpg) repeat-x;}
.delivery-con {background:url(/Themes/Ryness/Content/Images/delivery-bg.gif) repeat;}
.delivery-con p { margin: 0;}
.slider-con {background:#f3f1ed;border-bottom:1px solid #dddddd;}
.slider-border {border:3px solid #dddddd;}
.welcome-con {background:#920401 url(/Themes/Ryness/Content/Images/welcome-bg.gif) repeat;border-top:1px solid #dddddd;}
.welcome-con h1 {font-size: 32px;line-height: 40px;text-transform: uppercase;font-weight: normal;padding:0;margin: 10px 0;color: #ffffff;}
.welcome-con p {font-size:15px;line-height:24px;}
.welcome-con .span12 {padding:0 40px;}
.footer {background:url(/Themes/Ryness/Content/Images/footer-bg.gif) repeat;}
.headoffice {background:url(/Themes/Ryness/Content/Images/footer.jpg) repeat;border-top:1px solid #444444;border-bottom:1px solid #444444;}
.sub-header {font-size:20px;line-height:28px;color:#ffffff;text-transform:uppercase;padding:10px 0;}
.block-content {color:#aaaaaa;}
.block-content ul {margin:0;padding:0;}
.block-content ul li {margin:0;padding:0;list-style-type:none;background:url(/Themes/Ryness/Content/Images/list-style.png) no-repeat left center;padding-left:10px;}
.block-content ul li a {color:#aaaaaa;}
.block-content ul li a:hover {color:#ffffff;}
.section-header {border-bottom:1px solid #aaaaaa;}
.section-header span {border-left:1px solid #aaaaaa;border-top:1px solid #aaaaaa;border-right:1px solid #aaaaaa;background:url(/Themes/Ryness/Content/Images/section-bg.gif) repeat-x;padding:0 20px;display:inline-block;line-height:26px;color:#ffffff;font-weight:900;font-size:15px;}
.product-picture {position:relative;border-top:1px solid #eeeeee;display:block;}
.product-picture img.offer {position:absolute;top:0;left:0;z-index:2;}
.product-abstract {border-top:1px solid #eeeeee;}
.product-price {color:#C5251E;font-size:24px;font-weight:bold;font-family:Arial Black,Arial,Serif;margin-bottom:5px;}
.product-price span {color:#bfbfbf;font-size:13px;line-height:20px;display:block;font-family:arial, verdana, helvetica, sans-serif;font-weight:normal;}
.grid-items .span3:nth-child(3n+5) { margin-left: 0;clear: both;}
.grid-items .span2:nth-child(6n+1) { margin-left: 0;clear: both;}
.category-picture {border-top:1px solid #eeeeee;}
.category-name {border-top:1px solid #eeeeee;text-align:center;}
.breadcrumb {background:#f3f1ed;border-top:1px solid #E5E5E5;border-bottom:1px solid #E5E5E5;margin: 0;}
.breadcrumb ul {margin:0;padding:0;}
.breadcrumb ul li {margin:0;padding:0;list-style-type:none;float:left;}
.breadcrumb ul li a {color:#C5251E;padding-right:20px;background:url(/Themes/Ryness/Content/Images/list-bg.png) no-repeat right center;margin-right:10px;font-weight:900;}
.breadcrumb ul li:last-child a {background:none;color:#444444;font-weight:normal;}
.block-header {background:url(/Themes/Ryness/Content/Images/footer-bg.gif) repeat;line-height:20px;color:#ffffff;font-weight:bold;padding:15px;}
.block-list {border-left: 1px solid #E5E5E5;border-right: 1px solid #E5E5E5;border-bottom:1px solid #E5E5E5;}
.block-list ul {margin:0 15px;padding:0;}
.block-list ul li {margin:0;padding:5px 0;list-style-type:none;border-bottom:1px dashed #E8E8E8;}
.block-list ul li:last-child {border-bottom:none;}
.block-list ul li a {display:block;background:url(/Themes/Ryness/Content/Images/list-style.png) no-repeat left center;padding-left:15px;color:#444444;}
.block-container {border-left: 1px solid #E5E5E5;border-right: 1px solid #E5E5E5;border-bottom:1px solid #E5E5E5;background: #FFFFFF;}
.block-container div:last-child {border-bottom:none;}
.block-container span {display:block;padding:5px 0;}
.block-container .video-list {padding:10px 0;margin:0 10px;border-bottom:1px solid #e8e8e8;font-size:17px;line-height:30px;}
.side-teaser {margin:10px 0;}
.message-con {margin:0 15px 10px 15px;padding:30px 0 0 0;background:url(/Themes/Ryness/Content/Images/open-bracket.jpg) no-repeat 0 15px;font-style:italic;}
.message-by {margin:10px 15px;}
.list-items {margin:15px 0;}
.side-list-items .product-price, .product-des .product-price, .list-items .product-price {font-family:Arial,Tahoma,Serif;font-size:31px;line-height:40px;font-weight:900;}
.side-list-items .product-price span, .product-des .product-price span , .list-items .product-price span {color:#000000;font-size:13px;line-height:20px;display:block;font-weight:normal;}
.side-list-items .product-price span span, .product-des .product-price span span, .list-items .product-price span span {text-decoration:line-through;display:inline-block;}
.side-list-items .product-abstract, .list-items .product-abstract {border-top:none;}
.list-items .more-info {text-align:right;margin-bottom:10px;}
.add-to-cart input[type="text"] {margin-bottom:0;}
.thumb .span3 {border:1px solid #e8e8e8;}
.content-title {border-top:1px solid #e8e8e8;border-bottom:1px solid #e8e8e8;padding:10px 0;font-weight:bold;font-size:15px;line-height:24px;}
.content-details {padding:10px 0;}
.accordion-group {border-radius:0;-webkit-border-radius:0;-moz-border-radius:0;border-top:none;border-bottom:1px solid #e8e8e8;border-right:none;border-left:none;}
.accordion-heading .accordion-toggle {padding:10px 0 10px 15px;font-size:15px;font-weight:bold;background:url(/Themes/Ryness/Content/Images/list-style.png) no-repeat 0 16px;}
.accordion {border-top:1px solid #e8e8e8;}
.spec-title {border-top:1px solid #e8e8e8;padding:10px 0;font-weight:bold;margin-top:10px;font-size:15px;line-height:24px;}
.spec-details {border-top:1px solid #e8e8e8;border-left:1px solid #e8e8e8;border-right:1px solid #e8e8e8;}
.spec-details .row-fluid {padding:10px;word-wrap: break-word;-ms-word-wrap: break-word;}
/*.textpage {background:#F3F1ED;}*/
.bulbs-container {border-right:1px solid #aaaaaa;border-left:1px solid #aaaaaa;border-bottom:1px solid #aaaaaa;padding:20px;}
.bulbs-container .side-list {border-bottom:1px solid #e8e8e8;padding-bottom:10px;}
.bulbs-container .side-list:last-child {border-bottom:none;padding-bottom:0;}
.variantdropdown { margin-bottom: 0;}
.topbar {
    min-height: 40px;
    padding-right: 0;
    padding-left: 0;
    background-color: #fafafa;
    background-image: -moz-linear-gradient(top,#fff,#f2f2f2);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#f2f2f2));
    background-image: -webkit-linear-gradient(top,#fff,#f2f2f2);
    background-image: -o-linear-gradient(top,#fff,#f2f2f2);
    background-image: linear-gradient(to bottom,#fff,#f2f2f2);
    background-repeat: repeat-x;
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#fff2f2f2',GradientType=0);
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}
.topbar .top-icon {width:24.9% !important;float:left;background:url(/Themes/Ryness/Content/Images/sep.jpg) no-repeat left center;line-height:40px;text-align:center;}
.topbar .top-icon:nth-child(1) {background:none;}
.s-mobile {
    background-color: #D70000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D70000), color-stop(100%, #AC0301));
    background-image: -webkit-linear-gradient(top, #D70000, #AC0301);
    background-image: -moz-linear-gradient(top, #D70000, #AC0301);
    background-image: -ms-linear-gradient(top, #D70000, #AC0301);
    background-image: -o-linear-gradient(top, #D70000, #AC0301);
    background-image: linear-gradient(top, #D70000, #AC0301);
    border: 1px solid #cccccc;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding:10px 10px 0 10px;
}
.s-left {float:left;width:80%;}
.s-right {float:right;width:20%;}
.s-left input[type="text"] {-moz-border-radius: 4px 0 0 4px;-webkit-border-radius: 4px 0 0 4px;border-radius: 4px 0 0 4px;}
.s-right input[type="submit"] {-moz-border-radius: 0 4px 4px 0;-webkit-border-radius: 0 4px 4px 0;border-radius: 0 4px 4px 0;padding:4px;}

.filter-header 
{
    background-color: #F5F5F5;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F5F5F5), color-stop(100%, #EFEFEF));
    background-image: -webkit-linear-gradient(top, #F5F5F5, #EFEFEF);
    background-image: -moz-linear-gradient(top, #F5F5F5, #EFEFEF);
    background-image: -ms-linear-gradient(top, #F5F5F5, #EFEFEF);
    background-image: -o-linear-gradient(top, #F5F5F5, #EFEFEF);
    background-image: linear-gradient(top, #F5F5F5, #EFEFEF);
    border-top: 1px solid #E5E5E5;
    border-left: 1px solid #E5E5E5;
    border-right: 1px solid #E5E5E5;
    border-bottom:1px solid #d5d5d5;
    font-weight:bold;
    line-height:33px;
    padding:0 15px;
}

.generic-button 
{
    color: #fff;
    line-height: 2;
    font-weight: 700;
    font-size: 12px;
    cursor:pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

.generic-button:hover { color: #ffffff;text-decoration: none;}

.green-gradient
{
    background-color: #98e343;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #98e343), color-stop(100%, #6bb21a));
    background-image: -webkit-linear-gradient(top, #98e343, #6bb21a);
    background-image: -moz-linear-gradient(top, #98e343, #6bb21a);
    background-image: -ms-linear-gradient(top, #98e343, #6bb21a);
    background-image: -o-linear-gradient(top, #98e343, #6bb21a);
    background-image: linear-gradient(top, #98e343, #6bb21a);
    border: 1px solid #7acb1e;
    line-height:44px;
    text-shadow:none;
}
.green-gradient:hover
{
    background-color: #a9e565;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a9e565), color-stop(100%, #71ab30));
    background-image: -webkit-linear-gradient(top, #a9e565, #71ab30);
    background-image: -moz-linear-gradient(top, #a9e565, #71ab30);
    background-image: -ms-linear-gradient(top, #a9e565, #71ab30);
    background-image: -o-linear-gradient(top, #a9e565, #71ab30);
    background-image: linear-gradient(top, #a9e565, #71ab30);
}

.red-gradient
{
    background-color: #D90000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D90000), color-stop(100%, #9F0301));
    background-image: -webkit-linear-gradient(top, #D90000, #9F0301);
    background-image: -moz-linear-gradient(top, #D90000, #9F0301);
    background-image: -ms-linear-gradient(top, #D90000, #9F0301);
    background-image: -o-linear-gradient(top, #D90000, #9F0301);
    background-image: linear-gradient(top, #D90000, #9F0301);
    border: 1px solid #CB0000;
}
.big-red-gradient
{
    line-height:36px;  
    background-color: #D90000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D90000), color-stop(100%, #9F0301));
    background-image: -webkit-linear-gradient(top, #D90000, #9F0301);
    background-image: -moz-linear-gradient(top, #D90000, #9F0301);
    background-image: -ms-linear-gradient(top, #D90000, #9F0301);
    background-image: -o-linear-gradient(top, #D90000, #9F0301);
    background-image: linear-gradient(top, #D90000, #9F0301);
    border: 1px solid #CB0000;
}
.big-red-gradient:hover
{
    line-height:36px;  
    background-color: #da2626;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #da2626), color-stop(100%, #9a1615));
    background-image: -webkit-linear-gradient(top, #da2626, #9a1615);
    background-image: -moz-linear-gradient(top, #da2626, #9a1615);
    background-image: -ms-linear-gradient(top, #da2626, #9a1615);
    background-image: -o-linear-gradient(top, #da2626, #9a1615);
    background-image: linear-gradient(top, #da2626, #9a1615);
    border: 1px solid #CB0000;
    text-decoration: none;
}
.red-gradient:hover
{
    background-color: #da2626;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #da2626), color-stop(100%, #9a1615));
    background-image: -webkit-linear-gradient(top, #da2626, #9a1615);
    background-image: -moz-linear-gradient(top, #da2626, #9a1615);
    background-image: -ms-linear-gradient(top, #da2626, #9a1615);
    background-image: -o-linear-gradient(top, #da2626, #9a1615);
    background-image: linear-gradient(top, #da2626, #9a1615);
}
.search-gradient 
{
    background-color: #D70000;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #D70000), color-stop(100%, #AC0301));
    background-image: -webkit-linear-gradient(top, #D70000, #AC0301);
    background-image: -moz-linear-gradient(top, #D70000, #AC0301);
    background-image: -ms-linear-gradient(top, #D70000, #AC0301);
    background-image: -o-linear-gradient(top, #D70000, #AC0301);
    background-image: linear-gradient(top, #D70000, #AC0301);
    border: 1px solid #cccccc;
}

.mobile-nav {min-height:0 !important;}
.mobile-nav ul {margin:10px 0 0 0;padding:0;border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;}
.mobile-nav ul li {margin:0;padding:0;background-color: #f5f5f5;list-style-type:none;
background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
background-image: -o-linear-gradient(top,#fff,#e6e6e6);
background-image: linear-gradient(to bottom,#fff,#e6e6e6);
background-repeat: repeat-x;
border-bottom: 1px solid #ddd;
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);}
.mobile-nav ul li a {display:block;padding:10px;}
.mobile-nav ul li a:hover {background:#eaeaea;}
.mobile-nav ul li a i {float:right;}
.sub-mobile-nav {border-left:1px solid red;border-right:1px solid red;border-top:1px solid red;}
.sub-mobile-nav li {margin:0;padding:10px;border-bottom:1px solid red;list-style-type:none;}
.sub-mobile-nav li a {display:block;}
.navbar .btn-navbar {float:left;}
.navbar .btn, .navbar .btn-group {margin-top: 3px;}
.btn-navbar .section {margin-top:-3px;padding-left:5px;}
#nav-title {margin-top:10px;height:20px;background:#dddddd;padding:10px;border:1px solid #000000;}
#nav-title a.back {border:1px solid #000000;margin-right:10px;}
.pika-thumbs li{width: 28%; height:auto;}
.pika-stage {height: auto;}
.pika-stage {position: relative;}
.pika-stage .main-image {position: absolute; top: 0px; left: 0px;}
.pika-stage .pika-aniwrap{position: absolute; top: 0px; left: 0px;}
.pika-stage .pika-ani {position:relative;display: none;z-index:2;margin:0 auto;}
.pika-stage img {border:0;}
.pika-textnav {display:none;}
.pika-thumbs {margin:0; padding: 0;}
.pika-thumbs li {float: left; list-style-type: none;margin: 0 6px 6px 6px; border: 1px solid #eeeeee; cursor: pointer;}
.pika-thumbs li .clip {position:relative;height:100%;text-align: center; vertical-align: middle; overflow: hidden;}
.pika-tooltip{display:none;}
.pika-counter{display:none;}

.ui-slider .ui-slider-range {
    background: #C5251E !important;
    filter: none;
}
.cart-header { background: #f3f1ed;border: 1px solid #ddd;line-height: 44px;}
.cart-item{border-left: 1px solid #ddd;border-bottom: 1px solid #ddd;border-right: 1px solid #ddd;}
.cart-border-right { border-right: 1px solid #ddd;}
.cart-code{ background: #F3F1ED;border: 1px solid #ddd;padding-left:25px;padding-right: 25px;}
.cart-summary { border: 1px #ddd solid;}
.cart-summary-options { padding-top: 10px;}
.cart-summary button { line-height: 28px;}
.cart-item-name a { color:#000 !important;}
.cart-item-name a:hover { text-decoration: none;}
.cart-discount-header { font-size: 21px;}
.cart-total-cost { font-size: 21px;padding-top: 5px;}

/* Large desktop */
@media (min-width: 1200px) { 
    .top-basket{line-height:22px;font-size:11px;}
    .block .collapse {height:auto !important;overflow:visible !important;}
    .basket-items {padding:8px 0;}
    .top-checkout .green-gradient {-webkit-border-radius: 0 3px 3px 0;-moz-border-radius: 0 3px 3px 0;-ms-border-radius: 0 3px 3px 0;-o-border-radius: 0 3px 3px 0;border-radius: 0 3px 3px 0;}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 980px) and (max-width: 1199px) {
    .nav-collapse.collapse {
        height: auto !important;
        overflow: visible !important;
      }
    .top-basket{line-height:23px;font-size:11px;}
    .basket-items {padding:5px 0;}
    .block .collapse {height:auto !important;overflow:visible !important;}
    .navbar-inverse .brand, .navbar-inverse .nav > li > a {padding: 8px 9px 9px 9px;}
    .pika-thumbs li{width: 25%; height:auto;}
    .pika-thumbs li {float: left; list-style-type: none;margin: 0 8px 8px 8px; border: 1px solid #eeeeee; cursor: pointer;}
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
    .top-basket{line-height:22px;/*font-size:11px;*/padding:0 5px;}
    .header-links ul li a {padding-left:15px;font-size:11px;}
    .top-checkout input[type="submit"] {font-size:11px;padding: 1px;font-weight:normal;}
    .block .collapse {height:auto !important;overflow:visible !important;}
    /*.all-contents {margin-left:25%;position:relative;z-index:899;background:#ffffff;margin-top:100px;overflow-x:hidden;}*/
    .all-contents .container {width:100%;}
    .all-contents .textpage {padding:0 10px;}
    /*header {position:fixed;top:0;left:0;background:#ffffff;z-index:999;width:100%;}*/
    header .container {width:100% !important;}
    .tablet-menu {position:fixed;top:90px;left:0;width:23%;z-index:1;}
    .tablet-menu .span12 {min-height:0;}
    .tablet-menu ul {margin:10px 0 0 0;padding:0;border-left:1px solid #ddd;border-right:1px solid #ddd;border-top:1px solid #ddd;-webkit-border-radius: 3px;-moz-border-radius: 3px;-ms-border-radius: 3px;-o-border-radius: 3px;border-radius: 3px;}
    .tablet-menu ul li {margin:0;padding:0;background-color: #f5f5f5;list-style-type:none;
        background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
        background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
        background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
        background-image: -o-linear-gradient(top,#fff,#e6e6e6);
        background-image: linear-gradient(to bottom,#fff,#e6e6e6);
        background-repeat: repeat-x;
        border-bottom: 1px solid #ddd;
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
        filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
        -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);}
    .tablet-menu ul li a {display:block;padding:10px;}
    .tablet-menu ul li a:hover {background:#eaeaea;}
    .tablet-menu ul li a i {float:right;}
    .sub-tablet-nav {border-left:1px solid red;border-right:1px solid red;border-top:1px solid red;}
    .sub-tablet-nav li {margin:0;padding:10px;border-bottom:1px solid red;list-style-type:none;}
    .sub-tablet-nav li a {display:block;}
    .btn-navbar .section {margin-top:-3px;padding-left:5px;}
    #tablet-nav-title {margin-top:10px;height:20px;background:#dddddd;padding:10px;border:1px solid #000000;}
    #tablet-nav-title a.back {border:1px solid #000000;margin-right:10px;}
    .header-links {padding:5px 10px 5px 0;}
    .basket-items {margin:3px 0;}
    .logo-con {padding:20px 0 10px 0;}
    .slider-con .padding-top-bottom-20 {padding:10px 0;}
    footer .container .row-fluid {width:93%;padding:0 10px;}
    ul, ol {padding: 0;margin: 0 0 10px 15px;}
    .pika-thumbs li{width: 25%; height:auto;}
    .pika-thumbs li {float: left; list-style-type: none;margin: 0 5px 5px 5px; border: 1px solid #eeeeee; cursor: pointer;}
    .top-basket{font-size:12px;}
    header .header-middle {width: 40.05524861878453% !important;}
    header .header-left {width: 31.491712707182323% !important;}
    .tablet-newsletter { width: 100% !important; padding:5px 0 !important;}
    button { font-size: 12px !important;}
    .cart-header-buttons .span2 { width: 22.92817679558011%;padding: 0 10px;}
    .cart-header-buttons .span8 {width: 48.61878453038674%;}
    #apply-discount-code { width: 100%;}
    #products { margin-bottom: 20px;}
    
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
    body {padding-left:0;padding-right:0;}
    .container {padding:0 10px;}
    .top-basket{line-height:20px;border-right:1px solid #dddddd;padding-top:5px;}
    .delivery-con {background:url(/Themes/Ryness/Content/Images/footer-bg.gif) repeat;}
    footer {padding:0 10px;}
    .search-con {-moz-border-radius: 5px;-webkit-border-radius: 5px;border-radius: 5px;}
    .search-con .span9 {padding-right:10px;}
    .search-con .span3 {padding-left:10px;padding-top:5px;}
    .no-margin-left input[type="submit"] {margin-top:10px;}
    .green-gradient {line-height:30px;}
    .delivery-con .line-height-30 {line-height:16px;padding:5px;}
    .product-picture {float:left;clear:both;border-top:none;width:120px;margin-top:0;padding-top:0;padding-bottom:0;height:140px;}
    .product-picture a {vertical-align:middle;display:table-cell;position:relative;width:120px;height:140px;}
    .product-brief {margin-left:130px;padding:5px 0 5px 5px;border:none;}
    .product-abstract {border-top:none;}
    .product-abstract p {line-height:16px;margin-bottom:5px;}
    h3 {margin:0;}
    .product-picture li {line-height:16px;}
    .product-price {margin-bottom:5px;font-size:18px;}
    .grid-items .span3 {clear: both;}
    .grid-items .span2 { clear: both;}
    #mobilefilter {display:none;}
    .block .btn-navbar {
        color: #fff;
        text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
        background:url(/Themes/Ryness/Content/Images/footer-bg.gif) repeat;
        padding:7px 12px;
    }
    .block .btn-navbar .icon-bar {
        display: block;
        width: 18px;
        height: 2px;
        background-color: #f5f5f5;
        -webkit-border-radius: 1px;
        -moz-border-radius: 1px;
        border-radius: 1px;
        -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
        -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.25);
        box-shadow: 0 1px 0 rgba(0,0,0,0.25);
    }
    .block .btn-navbar .refine {margin-top:-3px;padding-left:5px;}
    .pagination-large ul>li>a, .pagination-large ul>li>span {padding: 4px 9px;font-size: 13px;}
    .mobile-product-lists {padding:0 5px;}
    .mobile-product-lists .row-fluid .span3 {width:30%;float:left;}
    .mobile-product-lists .row-fluid .span6 {float:left;width:70%;}
    .mobile-product-lists .row-fluid .last {clear:both;width:100%;margin-top:-15px;padding-left: 30%;}
    .mobile-product-lists .row-fluid .last .text-align-right {text-align:left;}
    .mobile-product-lists .row-fluid .last .product-price {font-size:18px;line-height:22px;}
    .mobile-two-column .span6 {width:50%;float:left;}
    ul, ol {padding: 0;margin: 0 0 5px 15px;}
    ul li {line-height:16px;}
    .mobile-sort .span3 {width:20%;float:left;text-align:left;}
    .mobile-sort .span9 {width:80%;float:left;}
    .list-items {margin:5px 0;}
    .list-items .more-info {margin-bottom: 5px;}
    .list-items .more-info .big-red-gradient {line-height:24px;}
    .grid-items .category-picture {width:30%;float:left;border-top:none;padding:5px 0;margin:0;}
    .grid-items .category-picture a img {height:97px;}
    /*.grid-items .product-picture a {padding-top:10px;}*/
    .grid-items .product-picture a img {height:97px;}
    .grid-items .category-name {width:70%;float:left;padding:30px 0;}
    .add-to-cart .row-fluid .span2 {width:20%;float:left;line-height:30px;}
    .add-to-cart .row-fluid .span8 {width:55%;float:right;}
    .pika-thumbs li {float: left; list-style-type: none;margin: 5px 5px 5px 0; border: 1px solid #eeeeee; cursor: pointer;}
    header { margin-top: 55px;}
    .navbar-fixed-top {position: fixed;top: 0;z-index: 9999;margin: 0;}
    header .navbar .navbar-inner {border: none;background-image: url(/Themes/Ryness/Content/Images/mobile-bg.jpg);background-repeat: repeat;background-color: #b00b2b;filter: none;}
    .navbar .btn-navbar {background: none;border: none;box-shadow: none;-webkit-box-shadow: none;-moz-box-shadow: none;filter: none;}
    .navbar .btn-navbar:hover, .navbar .btn-navbar:active, .navbar .btn-navbar.active, .navbar .btn-navbar.disabled, .navbar .btn-navbar[disabled] {color: #ffffff;background: none;}
    .navbar .nav > li > a { text-shadow: none;}
    .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {-webkit-box-shadow: none;-moz-box-shadow: none;box-shadow: none;background: none;}
    .nav-collapse .nav > li > a:hover, .nav-collapse .dropdown-menu a:hover {background: none;}
    .nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {color: #fff;-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}
    .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus { color: #555;}
    .mobile-menu { float: left;background: url(/Themes/Ryness/Content/Images/mobile-seperator.jpg) no-repeat left center;text-align: center;padding: 0 30px;line-height: 50px;}
    .mobile-menu a { color: #fff;font-size: 17px;text-shadow: -1px -1px 0 rgba(159, 18, 20, 1), 0 -2px 0 rgba(159, 18, 20, 1);}
    .mobile-menu a:hover { text-decoration: none;}
    .mobile-menu img { height: 24px;margin-top: -5px;}
    .cart-header .span8 {width: 65.95744680851064%;float: left;border: none;}
    .cart-header .span2 {width: 14.893617021276595%;float: left;border: none;}
    .cart-header .span2:last-child { text-align: right;}
    .cart-item .span8 {width: 65.95744680851064%;float: left;}
    .cart-item .span2 { width: 14.893617021276595%;float: left;}
    .cart-item .span8 .span2 {width: 14.893617021276595%;float: left;}
    .cart-item .span8 .span10 {width: 82.97872340425532%;float: left;}
    .cart-item .price { text-align: right;}
    .cart-summary button { margin-bottom: 10px;}
    .input-mini {width: 40px;}
    #linked-image-31, #linked-image-32 {display: none;}
}
@media (max-width: 480px) {.nivo-directionNav a {top: 40%;}}
@media (max-width: 380px) {.mobile-menu{ padding: 0 20px;}}
@media (max-width: 310px) {.mobile-menu{ padding: 0 10px;}}
.field-validation-error span { color: #ff0000 !important;}
.input-validation-error  { border: 1px solid #ff0000 !important;}
.input-validation-error:focus { outline: thin dotted \9 !important;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,0,0,1) !important;-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,0,0,1) !important;box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,0,0,1) !important;}
