nav {background:green !important;}
nav ul {margin:0;padding:0;}
nav ul li {margin:0;padding:0;list-style-type:none;float:left;}
nav ul li a {display:block;padding:10px 20px;background:#eaeaea;}
.content {background:red;height:300px;float:left;margin-left:0 !important;}
.logo {width:33%;float:left;}
.search {width:34%;float:left;}
.rightbar {width:33%;float:left;}
.rightbar ul {padding:0;margin:0;}
.rightbar ul li {float:right;list-style-type:none;padding:0 10px;}
#browse {display:none;}

@media only screen and (max-width:1200px) {
    nav {background:orange !important;width:300px;position:fixed;}
    nav ul li {margin:0;padding:0;list-style-type:none;float:none;}
    .content {background:red;float:left;margin-left:300px !important;}
}
@media only screen and (max-width:680px) {
    nav {background:orange !important;width:100%;display:none !important;}
    .content {background:red;height:300px;float:left !important;margin-left:0 !important;}
    .rightbar {width:100%;float:none;line-height:30px;display:block;clear:both;}
    .logo {width:100%;float:none;line-height:30px;display:block;clear:both;}
    .search {width:100%;float:none;line-height:30px;display:block;clear:both;}
    .rightbar {background:#eaeaea;}
    #browse {display:inline-block;}
}

/* Nav */
.dropdown-menu {
    border-radius: 0;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.2);
}
.dropdown-submenu > .dropdown-menu{
    border-radius: 0;
}
.dropdown-menu:before, .dropdown-menu:after {
    border: none !important;
    content: none !important;
    display: none !important;
}
.dropdown-submenu > a:after{
    border: none !important;
    content: none !important;
    display: none !important;
}