@using System.Web.Mvc.Html
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Models
@using MrCMS.Website
@model ChartModel
@{
    ViewBag.Title = "Sales by payment type";
}

<fieldset>
    <legend>
        <div class="row">
                <div class="col-lg-12">
                    Sales by payment type
                <span class="pull-right">
                    @using (Html.BeginForm("SalesByPaymentType", "Report", new {id = ""}, FormMethod.Get))
                    {
                        @Html.ActionLink("Today", "SalesByPaymentType", "Report", new { From = CurrentRequestData.Now.Date.ToString(CurrentRequestData.CultureInfo), To = CurrentRequestData.Now.Date.AddDays(1).ToString(CurrentRequestData.CultureInfo) }, new { @class = "btn" })
                        @Html.EditorFor(x => x.From)
                        @Html.EditorFor(x => x.To)
                        <button type="submit" class="btn">Filter</button>
                    }
                </span>
                </div>
            </div>
    </legend>

    <div class="row">
        <div class="col-lg-12">
            <div id="chart"></div>
        </div>
    </div>
    <br/>
    <div class="row">
         <div class="col-lg-6">
             <div id="message"></div>
        </div> 
    </div>
</fieldset>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/sales-by-payment-type.js"); }
@{ Html.IncludeCss("~/Apps/Ecommerce/Areas/Admin/Content/Styles/reports.css"); }