@using System.Web.Mvc.Html
@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Models.ChartModel
@{
    ViewBag.Title = "Sales by day";
}

<fieldset>
    <legend>
        Sales by day

    </legend>
    @using (Html.BeginForm("SalesByDay", "Report", new { id = "" }, FormMethod.Get))
    {
        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.From)
                    @Html.TextBoxFor(x => x.From, new { @class = "form-control" })
                </div>
            </div>

            <div class="col-lg-6">
                <div class="form-group">
                    @Html.LabelFor(x => x.To)
                    @Html.TextBoxFor(x => x.To, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-default">Filter</button>
    }
    <div class="row">
        <div class="col-lg-12">
            <div id="line-chart"></div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-lg-6">
            <div id="message"></div>
        </div>
    </div>
</fieldset>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/sales-by-day.js"); }
@{ Html.IncludeCss("~/Apps/Ecommerce/Areas/Admin/Content/Styles/reports.css"); }