@model MrCMS.Web.Apps.Ecommerce.Entities.DiscountApplications.OrderTotalFixedAmount
<div class="form-group">
    @Html.LabelFor(x => x.DiscountAmount)
    @Html.TextBoxFor(x => x.DiscountAmount, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.DiscountAmount)
</div>
