<?xml version="1.0"?>
<mrcmsSettings>
    <add key="enable-optimisations" value="False" />
    <add key="mrcms-database-provider" value="MrCMS.DbConfiguration.SqlServer2012Provider" />
    <add key="google-enabled" value="False" />
    <add key="google-client-id" />
    <add key="google-client-secret" />
    <add key="facebook-enabled" value="False" />
    <add key="facebook-app-id" />
    <add key="facebook-app-secret" />
    <add key="linkedin-enabled" value="False" />
    <add key="linkedin-client-id" />
    <add key="linkedin-client-secret" />
</mrcmsSettings>