@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@if (Model.AvailablePaymentMethods.Count() > 1)
{
    <div class="border-grey margin-bottom-20" id="select-method">
        <div class="sub-header grey-background">
            Select Method
        </div>
        <div class="padding-20">
            @foreach (var paymentMethod in Model.AvailablePaymentMethods)
            {
                <div class="row-fluid">
                    <label class="radio">@paymentMethod.Name @Html.RadioButtonFor(details => details.PaymentMethod, paymentMethod.SystemName)</label>
                </div>
            }
        </div>
    </div>
}