@model MrCMS.Web.Apps.Ecommerce.Pages.Product
@using MrCMS.Helpers
@using System.Linq
@using MrCMS.Web.Apps.Ecommerce.Entities.Products
@{
    var selectedVariant = ViewData["selected-variant"] as ProductVariant ?? Model.Variants.First();
    var hasSpecifications = Model.SpecificationValues.Any();
}
@Html.HiddenFor(x => x.UrlSegment)
@{ Html.RenderPartial("VariantDetails", selectedVariant);}
<hr class="small-margin" />

<div class="row-fluid" id="product-description-container">
    <div class="@(hasSpecifications ? "span8" : "span12")">
        <h4>Description</h4>
        @Editable(Model, product => product.BodyContent)
    </div>
    @if (hasSpecifications)
    {
        Html.RenderPartial("ProductSpecifications", Model);
    }
</div>
@RenderZone("Below Product Information")
@{
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/jquery.history.js");
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/custom/product.js");
}
