@model MrCMS.Web.Apps.Ryness.Entities.Testimonial
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";
}          
@using (Html.BeginForm("Delete", "Testimonial", FormMethod.Post))
{
    <fieldset>
        <legend>
            Delete Testimonial
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Delete" />
            </span>
        </legend>
        <p>
            Are you sure you want to delete the testimonial @Model.Name ? Deleting this testimonial can <strong>not</strong> be undone.
        </p>
    </fieldset>
}