@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@using MrCMS.Helpers

@if (Model.CanUsePayPalExpress && string.IsNullOrEmpty(Model.PayPalExpressToken) )
{
    <div class="block-title">
        <div class="h1style">
            Or Checkout with...
        </div>
    </div>
    using (Html.BeginForm("SetExpressCheckout", "PayPalExpressCheckout", FormMethod.Post))
    {
        <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_xpressCheckout.gif"/>
    }
}
<div class="block-title">
    <div class="h1style">
        Your Email
    </div>
</div>
<p>@Model.OrderEmail</p>

@if (MrCMS.Website.CurrentRequestData.CurrentUser == null)
{
    <a class="btn btn-default" id="edit" href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.EnterOrderEmail>())">Edit</a>
}