@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@using MrCMS.Helpers

@if (Model.CanUsePayPalExpress && string.IsNullOrEmpty(Model.PayPalExpressToken))
{
    <div class="grey-background padding-20 margin-bottom-20">
        <p><strong>@Resource("Or Checkout with")...</strong></p>

        @using (Html.BeginForm("SetExpressCheckout", "PayPalExpressCheckout", FormMethod.Post))
        {
            <input type="image" src="https://www.paypal-marketing.com/paypal/html/partner/na/portal-v2/img/logos/checkout_logo_medium_170x32.png" />
        }
    </div>
}
<div class="grey-background padding-20 margin-bottom-20">
    <p>
        <strong>@Resource("Your Email")</strong>
        <span class="pull-right"><img src="~/Apps/Ecommerce/Content/Images/tick-sm.png" alt="tick"/></span>
    </p>
    <p>@Model.OrderEmail</p>
    @if (MrCMS.Website.CurrentRequestData.CurrentUser == null)
    {
        <a class="btn btn-default" id="edit" href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.EnterOrderEmail>())">Edit</a>
    }
</div>
