@using MrCMS.Helpers
@using MrCMS.Settings
@using MrCMS.Website
@model MrCMS.Entities.Documents.Web.Webpage
@{
    Layout = "_EcommerceLayout.cshtml";
}
<div class="textpage padding-top-bottom-20">
    <div class="container">
        <div class="content">
            <div class="row-fluid">
                <div class="span4">
                    @RenderBody()
                </div>
                <div class="span8">
                    <div id="map_canvas"></div>
                    @RenderZone("Right Column")
                </div> 
            </div>
        </div>
    </div>
</div>
@{
    Html.IncludeScript("~/Themes/Ryness/Content/Scripts/jquery.ui.map.full.min.js");
    Html.IncludeScript("~/Themes/Ryness/Content/Scripts/ryness-map.js");
}

    <script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=true"></script>