@model MrCMS.Web.Apps.Ryness.Widgets.NewsletterSignup
           
<div class="padding-bottom-10">
    Your email
</div>
<input type="email" placeholder="Email address" class="span12"/>
<div>
    <input type="radio" name="sub" />
    Unsubscribe
    <input type="radio" name="sub" checked/>
    Subscribe
</div>
<div class="padding-top-bottom-10 row-fluid tablet-newsletter">
    <button type="submit" class="generic-button big-red-gradient span12">Sign up</button>
</div>