@model MrCMS.Web.Apps.Ryness.Entities.Testimonial
@if (Model != null)
{
    <div class="row-fluid block hidden-phone margin-top-bottom-10">
        <div class="span12">
            <div class="block-header">
                What our customers say
            </div>
            <div class="block-container">
                <div class="message-con">
                    @Editable(Model, x=>x.Text)
                    <img src="/Themes/Ryness/Content/Images/close-bracket.jpg" />
                </div>
                <div class="message-by">
                    @Editable(Model, x=>x.Name)
                </div>
            </div>
        </div>
    </div>
}