@model MrCMS.Web.Apps.Ecommerce.Entities.Users.Address
@using (Html.BeginForm("DeleteAddress", "UserAccountAddresses", FormMethod.Post))
{
    <fieldset>
        <legend>
            @Resource("Delete Address")
            <span class="btn-group display-inline pull-right">
                <button type="submit" class="btn btn-danger">@Resource("Delete")</button>
            </span>
        </legend>
        <div class="row">
            <div class="col-xs-12">
                @Resource("Are you sure you wish to delete this address, deleting this can not be undone.")
            </div>
        </div>
    </fieldset>
}
