@using System.Drawing
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Galleries.Pages
@using MrCMS.Website
@using NHibernate.Criterion
@model GalleryList 
@Editable(Model, p => p.BodyContent, true)
@{
    var category = Request["Category"];

    var query = QueryOver.Of<Gallery>()
                                     .Where(gallery => gallery.Parent == Model && gallery.PublishOn != null && gallery.PublishOn <= CurrentRequestData.Now)
                                     .ThenBy(gallery => gallery.DisplayOrder)
                                     .Desc;

    var pagedList = Model.PagedChildren<Gallery>(pageNum: Request["p"].GetIntValue(1), query: query, pageSize: Model.PageSize);
}
@foreach (var pageRow in pagedList.Chunk(4))
{
    <div class="row-fluid">
        @foreach (var page in pageRow)
        {
            <div class="span3">
                @Html.RenderImage(page.ThumbnailImage, new Size { Width = 800, Height = 800 })
                <h3 class="margin-top-0"><a href="/@page.LiveUrlSegment" class="margin-top-0">@page.Name</a></h3>
            </div>    
        }
    </div>
}
@if (Model.AllowPaging)
{
    @Html.PageCurrentPage(pagedList, i => new { p = i }, PagedListRenderOptions.PageNumbersOnly)
}