@using MrCMS.Web.Areas.Admin.Helpers
@model MrCMS.Web.Apps.Ecommerce.Payment.Braintree.Models.BraintreePostModel

@if (TempData.ErrorMessages().Any())
{
    <div class="alert alert-danger" role="alert">
        @Html.Raw(string.Join("<br />", TempData.ErrorMessages()))
    </div>
}

@using (Html.BeginForm("MakePayment", "Braintree", FormMethod.Post))
{
    <div id="dropin"></div>
    <input type="submit" value="@Resource("Confirm Order")" class="btn btn-primary btn-lg">
}

@*<script src="https://js.braintreegateway.com/v2/braintree.js"></script>*@
<script>
    braintree.setup(
      "@Model.ClientToken",
      'dropin', {
          container: 'dropin'
      });
</script>