@using MrCMS.Website
@model System.Collections.Generic.IEnumerable<MrCMS.Entities.Documents.Web.Webpage>
@{
    var page = CurrentRequestData.CurrentPage; 
}
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <ol class="breadcrumb">
                <li><a href="/">Home</a></li>
                @foreach (var p in Model)
                {
                    if (p == page)
                    {
                        <li class="active">@p.Name</li>
                    }
                    else
                    {
                        <li><a href="/@p.LiveUrlSegment">@p.Name</a></li>
                    }
                }
            </ol>
        </div>
    </div>
</div>

