@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@{
    var checkoutUrl = UniquePageHelper.GetUrl<EnterOrderEmail>();
}
<ul class="nav navbar-nav navbar-right">
    @{Html.RenderAction("HeaderSummary", "Cart");}
    <li>
        <a class="checkout" href="@(checkoutUrl)">Checkout</a>
    </li>
</ul>

