@using System.Drawing
@model MrCMS.Web.Apps.Ecommerce.Widgets.FeaturedCategoriesViewModel
@if (Model != null)
{
    <hr />
    if (!String.IsNullOrEmpty(Model.Title))
    {
    <h4>@Model.Title</h4>
    }
    <div class="row-fluid">
    @foreach (var item in Model.Categories)
    {
            <div class="span3 text-center">
                <div style="overflow:hidden;height: 150px;" >
                @if(item.FeatureImage!=null)
                {
                    <a href="/@item.LiveUrlSegment">@RenderImage(item.FeatureImage, new Size{Width = 150, Height = 150})</a>
                }
                </div>
                    <div class="clearfix"></div>
                <h4 class="category-title"><a href="/@item.LiveUrlSegment" title="@item.Name">@item.Name</a></h4>
           </div>
    }
    </div>
}