@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Widgets.FeaturedProductsViewModel
@if (Model != null)
{
    ViewData["cart"] = Model.Cart;
    
    <hr />
    if (!String.IsNullOrEmpty(Model.Title))
    {
    <h4>@Model.Title</h4>
    }
    
    foreach (var itemRow in Model.Products.Chunk(4))
    {
        <div class="row-fluid">
            @foreach (var item in itemRow)
            {
                Html.RenderPartial("ProductCardFeatured", item);
            }
        </div>
    }
}