@model IList<MrCMS.Web.Apps.Ecommerce.Pages.Category>

@if (Model.Any())
{
    <div class="container">
        <div class="row-fluid content-title">
            <strong>Not what you were looking for? See more: </strong>
            @Html.Raw(string.Join(", ", Model.Select(category => string.Format("<a href=\"{0}\">{1}</a>", category.AbsoluteUrl, category.Name))))
        </div>
    </div>
}