@model List<MrCMS.Web.Apps.Ecommerce.Pages.Product>
@if (Model != null && Model.Any())
{
    <div class="block-title">
        <div class="h1style">
            Recently Viewed Items
        </div>
    </div>
    foreach (var item in Model)
    {
        <div class="row">
            <div class="col-sm-3">
                @RenderImage(item.DisplayImageUrl, attributes: new { @class = "img-responsive" })
            </div>
            <div class="col-sm-9">
                <a href="/@item.LiveUrlSegment">@item.Name</a>
            </div>
        </div>
    }
}