@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@model MrCMS.Web.Apps.Ecommerce.Widgets.SearchBox
<form method="GET" action="@(UniquePageHelper.GetUrl<ProductSearch>())" id="search-box" class="collapsable">
    <div class="padding-top-bottom-9">
        <div class="input-group">
            @Html.TextBox("searchTerm", Request.QueryString["SearchTerm"], new { @class = "form-control", placeholder = "e.g : Shorts" })
            <span class="input-group-btn">
                <button class="btn btn-default btn-default-blue" type="button" id="searchButton" name="searchButton"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
    </div>
</form>