@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Widgets.FeaturedCategories
<div class="form-group">
    @Html.LabelFor(widget => widget.ListOfFeaturedCategories)
    @Html.TextBoxFor(widget => widget.ListOfFeaturedCategories, new { @class = "form-control" })
</div>

<div class="clearfix"></div>
<input autocomplete="off" class="search-query form-control" id="searchparam" name="searchparam" placeholder="@Resource("Search and add categories by typing here")" type="text" />
<br /><br /><div class="clearfix"></div>
<div id="categories">
    <table class="table table-striped table-condensed pull-left" style="margin-bottom: 0;"></table>
</div>
<div class="clearfix"></div>
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/featured-categories.js"); }