@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Widgets.FeaturedProducts
<div class="form-group">
    @Html.LabelFor(widget => widget.ListOfFeaturedProducts)
    @Html.TextBoxFor(widget => widget.ListOfFeaturedProducts, new { @class = "form-control" })
</div>

<div class="clearfix"></div>
<input autocomplete="off" class="search-query form-control" id="searchparam" name="searchparam" placeholder="@Resource("Search and add products by typing here")" type="text" />
<br /><br /><div class="clearfix"></div>
<div id="products">
    <table class="table table-striped table-condensed pull-left"></table>
</div>
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/featured-products.js"); }