@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Widgets.FeaturedCategories

<br />
@Html.LabelFor(widget => widget.ListOfFeaturedCategories)
@Html.TextBoxFor(widget => widget.ListOfFeaturedCategories)

<div class="clearfix"></div>
<input autocomplete="off" class="search-query span6" id="searchparam" name="searchparam" placeholder="Search and add categories to be featured within widget" type="text" />
 <br /><br /><div class="clearfix"></div> 
<div id="categories" class="row-fluid span6">
            <table class="table table-striped table-condensed pull-left" style="margin-bottom: 0;margin-left:-30px">
        </table>
</div>
@{ Html.IncludeScript("~/Apps/Ecommerce/Areas/Admin/Content/Scripts/custom/featured-categories.js"); }