@model MrCMS.Web.Apps.Ecommerce.Widgets.SpendXMore
<div class="form-group">
    @Html.LabelFor(widget => widget.Amount)
    @Html.TextBoxFor(widget => widget.Amount, new{@class="form-control"})
</div>
