@using System.Web.Mvc.Html
@using MrCMS.Helpers
@using MrCMS.Web.Apps.Amazon.Models
@model MrCMS.Paging.IPagedList<MrCMS.Web.Apps.Amazon.Entities.Listings.AmazonListingGroup>
@{
    ViewBag.Title = "Amazon Listing Groups";
    var amazonManageInventoryUrl = ViewData["AmazonManageInventoryUrl"] as string;
}

<fieldset>
    <legend>
        <div class="row-fluid">
                <div class="span6">
                     Amazon Listing Groups
                </div>
                <div class="span6">
                    <span class="btn-group  display-inline  pull-right" style="margin-left: 10px">
                        @Html.ActionLink("Add", "Add", "ListingGroup", null, new { @class = "btn btn-info", data_toggle = "fb-modal"})
                    </span>
                    <span class="btn-group  display-inline  pull-right">
                        @if (!String.IsNullOrWhiteSpace(amazonManageInventoryUrl))
                        {
                                <a href='@amazonManageInventoryUrl' target="_blank" class="btn">
                                    Manage Inventory on Amazon
                                </a>
                        }
                    </span>
                    <span class="btn-group  display-inline  pull-right">
                        @Html.ActionLink("Logs", "Index", "Logs", new {type=AmazonLogType.ListingGroups}, new { @class = "btn"})
                    </span>
                </div>
            </div>
    </legend>
</fieldset>

@Html.TextBox("ListingGroupName",String.Empty, new {@class = "input-xlarge search-query search-listing-groups", placeholder = "Enter listing group name..."})
<button class="btn btn-success" id="search-listings" type="button">Filter</button>
<br/><br/>
<div class="row-fluid">
    <div class="span12">
        @{Html.RenderPartial("ListingGroups", Model); }
    </div>
</div>
@{ Html.IncludeScript("~/Apps/Amazon/Areas/Admin/Content/Scripts/custom/listing-groups.js"); }