@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductSpecificationOption

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Delete", "ProductSpecificationOption", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Delete Product Specification Option</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to delete the product specification option @Model.Name ? Deleting this tax option can not be undone.
        <br />
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Delete option" />
    </div>
}