@model List<MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductSpecificationOption>
@{
    ViewBag.Title = "Product Specification Options";
}

<form>
    <fieldset>
        <legend>Product Specification Options
        <span class="btn-group  display-inline  pull-right">
            <a href="@Url.Action("Add", "ProductSpecificationOption")" class="btn btn-primary"  data-toggle="fb-modal">Add Option</a>
        </span>
        </legend>
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Name
                    </th>
                    <th>Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var productSpecificationOption in Model)
                {
                    <tr>
                        <td>
                            @productSpecificationOption.Name
                        </td>
                        <td>
                            <div class="btn-group">
                                @Html.ActionLink("Edit", "Edit", "ProductSpecificationOption", new { id = productSpecificationOption.Id }, new { @class = "btn btn-mini", data_toggle = "fb-modal" })
                                @Html.ActionLink("Delete", "Delete", "ProductSpecificationOption", new { id = productSpecificationOption.Id }, new { @class = "btn btn-mini btn-danger", data_toggle = "fb-modal" })
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </fieldset>
</form>
