@{
    Layout = "_EcommerceLayout.cshtml";
}
<div class="container">
    <div class="row user-account">
        <div class="col-xs-12 col-sm-2">
            @{ Html.RenderAction("Show", "UserAccountLinks"); }
            @{RenderZone("Right Column");}
        </div>
        <div class="col-xs-12 col-sm-10">
            @RenderBody()
        </div>
    </div>
</div>