@model MrCMS.Web.Apps.Ecommerce.Entities.BackInStockNotification.BackInStockNotificationRequest
@{
    var backInStock = ViewData["back-in-stock"] is bool && (bool)ViewData["back-in-stock"];
}
<div class="margin-bottom-20">
    <p class="bg-warning">
        Sorry, this item is out of stock.
    </p>
    @if (backInStock)
    {
        <p class="bg-success">Thank you, you will be notified when this product is back in stock.</p>
    }
    else
    {
        using (Html.BeginForm("BackInStock", "Product", FormMethod.Post))
        {
        @Html.Hidden("ProductVariant.Id", Model.ProductVariant.Id)
        
            <div class="col-sm-4 padding-left-0">
                @Html.TextBoxFor(x=>x.Email,  new { placeholder = "Email address", @class="form-control"})
            </div>
            <div class="col-sm-8 padding-right-0">
                <input type="submit" class="btn btn-default btn-block" value="Email me when back in stock" />
            </div>
            <div class="clearfix"></div>
            @Html.ValidationMessageFor(x=>x.Email)
        }
    }
</div>
