﻿@model MrCMS.Web.Apps.Ecommerce.Models.ProductPagedList
@using MrCMS.Helpers

<div id="products-wrapper">
    @if (Model.Any())
    {
        <div id="TotalItemCount" style="display: none">@Model.TotalItemCount</div>
        <div id="PageSize" style="display: none">@Model.Count</div>
        <div id="PageNumber" style="display: none">@Model.PageNumber</div>
        <div class="clearfix"></div>
        <div class="row-fluid">
            <div id="products">
                @foreach (var product in Model)
                {
                    Html.RenderPartial("ProductCard", product);
                }
            </div>
        </div>
        <div id="products-paging">
            @Html.Pager(Model, "ProductSearch", i => new { pageNo = i })
        </div>

    }
    else
    {
        <text>No products to display, please refine your search.</text>
    }
</div>
<script>
    $('#TotalItemCount').change();
    $('#PageCount').change();
    $('#PageNumber').change();
</script>
