@using MrCMS.Web.Apps.Ecommerce.Entities.Products
@using MrCMS.Web.Apps.Ecommerce.Helpers
@model MrCMS.Web.Apps.Ecommerce.Entities.Products.ProductVariant
<div id="product-variants-pricebreaks">
    @if (Model.PriceBreaks.Any())
    {
        <table id="product-pricebreaks-table" class="table grey-border price-break">
            <thead>
                <tr>
                    <th>Price Breaks</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.PriceBreaks)
                {
                    <tr>
                        <td>Buy @item.Quantity&nbsp;+</td>
                        <td>@item.Price.ToCurrencyFormat()</td>
                    </tr> 
                }
            </tbody>
        </table>
    }
</div>
