@using MrCMS.Helpers
@model MrCMS.Web.Apps.Ecommerce.Pages.Product  
<div id="product-specifications">
    <h4>Specifications</h4>
    <table class="table table-bordered table-striped table-condensed">
        @foreach (var item in Model.SpecificationValues.OrderBy(x => x.DisplayOrder))
        {
            <tr>
                <td><strong>@item.SpecificationName</strong></td>
                <td>@item.Value</td>
            </tr>
        }
    </table>
</div>
