@using MrCMS.Helpers
@model dynamic
@*TWITTER*@
<a href="https://twitter.com/share" class="twitter-share-button" data-url="@this.Request.Url.AbsoluteUri" data-count="none" data-hashtags="products">Tweet</a>
<script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
@*PINTEREST*@
<a href="//pinterest.com/pin/create/button/" data-pin-do="buttonBookmark"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a>
@*FB*@
<div class="fb-like" data-href="@this.Request.Url.AbsoluteUri" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false"></div>
@{
    Html.IncludeScript("~/Apps/Ecommerce/Content/Scripts/facebook.js");
    Html.IncludeScript("https://assets.pinterest.com/js/pinit.js");
}