@model MrCMS.Web.Apps.Ecommerce.Models.CashOnDeliveryConfirmModel
@using (Html.BeginForm("Form", "CashOnDelivery", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="control-group">
        <div class="controls">
            <input type="submit" class="btn btn-info" value="Confirm Order" />
        </div>
    </div>
}