@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@using MrCMS.Helpers
<div class="padding-20 grey-background margin-bottom-10">
    <div class="row-fluid two-side-column">
        <div class="span10">
            <p>
                <b>Delivery Details</b>
            </p>
        </div>
        <div class="span2 align-right">
            <img src="/Themes/Ryness/Content/Images/checkout/tick.png" alt="tick" />
        </div>
    </div>
    <p>
        @{
            if (Model.ShippingAddress != null)
            {
            @Model.ShippingAddress.GetDescription()
            }
        }
    </p>
    <a class="btn btn-mini white-gradient" id="edit" href="@(UniquePageHelper.GetUrl<MrCMS.Web.Apps.Ecommerce.Pages.SetDeliveryDetails>())">Edit</a>

</div>
