@model dynamic

<div class="border-all margin-bottom-20">
    <div class="sub-header grey-background">
        @Resource("Select shipping method")
    </div>
    <div class="padding-20">
        <p>@Resource("Awaiting shipping address")</p>
    </div>
</div>