@model dynamic

<div class="border-all margin-bottom-20">
    <div class="sub-header grey-background">
        @Resource("Choose a delivery option")
    </div>
    <div class="padding-20">
        <p>@Resource("Delivery options will appear after your address is confirmed above")</p>
    </div>
</div>