@using MrCMS.Helpers
@using MrCMS.Web.Apps.Ecommerce.Pages
@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@{
    IEnumerable<SelectListItem> selectListItems = ViewData["shipping-methods"] as IEnumerable<SelectListItem> ?? new List<SelectListItem>();
}
<div class="block-title">
    <h1>Select shipping method</h1>
</div>

<div class="form-group">
    <label>Postage Selection <span class="red">*</span> :</label>
    @Html.DropDownList("ShippingMethod", selectListItems, new { @class = "form-control" })
    <div id="to-payment-details" style="display:none">
        <a class="btn btn-default btn-lg margin-top-10" href="@(UniquePageHelper.GetUrl<PaymentDetails>())">
            To Payment
        </a>
    </div>
</div>
