@model MrCMS.Web.Apps.Ecommerce.Entities.Geographic.Country
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Delete", "Country", FormMethod.Post))
{
    <fieldset>
        <legend>Delete Country
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Delete country" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Id)

        <p>
            Are you sure you want to delete the country @Model.Name ? Deleting this country can not be undone.
        </p>

        <div class="alert alert-warning">
            <strong>Warning:</strong> Deleting this country will delete all postage values set against it.
        </div>
    </fieldset>
}