@model MrCMS.Web.Apps.Ecommerce.Entities.Geographic.Country
@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}
@using (Html.BeginForm("Edit", "Country", FormMethod.Post))
{
    <div class="modal-header">
        <h3>Edit Country</h3>
    </div>
    <div class="modal-body">
        @Html.LabelFor(country => country.Name)
        @Html.TextBoxFor(country => country.Name)
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Edit Country" />
    </div>
}