@model MrCMS.Web.Apps.Ryness.Widgets.TopBanner
<div class="delivery-con">
    <div class="container">
        <div class="row-fluid">
            <div class="span12 text-align-center white-text line-height-30">
                @Editable(Model, widget => widget.Text, true)
            </div>
        </div>
    </div>
</div>