@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@{
    ViewBag.Title = "Add Discount Code";
}

@{ Layout = "~/Apps/Ecommerce/Views/Shared/_EcommercePopup.cshtml";}	 
@using (Html.BeginForm("AddDiscountCode", "Cart", FormMethod.Post))
{
    <fieldset>
        <legend>
            Add Discount Code
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Add Discount Code" />
            </span>
        </legend>

        @Html.LabelFor(x => x.DiscountCode)
        @Html.TextBoxFor(x => x.DiscountCode)
        @Html.ValidationMessageFor(x => x.DiscountCode)

    </fieldset>
}