@model MrCMS.Web.Apps.Ecommerce.Entities.Cart.CartItem

@{ Layout = "~/Apps/Ecommerce/Views/Shared/_EcommercePopup.cshtml";}	 
@using (Html.BeginForm("DeleteCartItem", "Cart", FormMethod.Post))
{
    <fieldset>
        <legend>Delete Cart Item
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Delete Cart Item" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Id)

        <p>
            Are you sure you want to delete this cart item?
        </p>
    </fieldset>
}