@model MrCMS.Web.Apps.Ecommerce.Models.CartModel
@{
    ViewBag.Title = "Edit Discount Code";
}

@{ Layout = "~/Apps/Ecommerce/Views/Shared/_EcommercePopup.cshtml";}	 
@using (Html.BeginForm("EditDiscountCode", "Cart", FormMethod.Post))
{
    <fieldset>
        <legend>
            Edit Discount Code
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Save Changes" />
            </span>
        </legend>

        @Html.LabelFor(x => x.DiscountCode)
        @Html.TextBoxFor(x => x.DiscountCode)
        @Html.ValidationMessageFor(x => x.DiscountCode)
    </fieldset>
}