@model List<MrCMS.Web.Apps.Ecommerce.Entities.Shipping.ShippingMethod>

<hr/>
@if (Model!=null && Model.Any())
{
    <div>Please choose Shipping Method*:</div>
    <div>
    <select name="ShippingMethod.Id" id="ShippingMethods" class="form-control">
        @foreach (var shippingMethod in Model)
        {
            <option value="@shippingMethod.Id">@shippingMethod.Name</option>
        }
    </select>
    </div>
}
else
{
    <span>Sorry, we cannot ship your order based on your choice of location or products. Please contact us for more information.</span><br/>
}

