@model MrCMS.Web.Apps.Ecommerce.Entities.Shipping.ShippingCalculation

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Delete", "ShippingCalculation", FormMethod.Post))
{
    <fieldset>
        <legend>
            Delete Shipping Calculation
            <span class="btn-group  display-inline  pull-right">
                <input type="submit" class="btn-primary btn" value="Delete shipping calculation" />
            </span>
        </legend>

        @Html.HiddenFor(x => x.Id)
        
        <p>
            Are you sure you want to delete shipping calculation @Model.Description ? Deleting this item can not be undone.
        </p>
    </fieldset>
}