@model MrCMS.Web.Apps.Ecommerce.Entities.Shipping.ShippingCalculation

@{ Layout = "~/Areas/Admin/Views/Shared/_LayoutPopup.cshtml";}	   
@using (Html.BeginForm("Delete", "ShippingCalculation", FormMethod.Post))
{
     @Html.HiddenFor(x => x.Id)
    <div class="modal-header">
        <h3>Delete Shipping Calculation</h3>
    </div>
    <div class="modal-body">
        Are you sure you want to delete shipping calculation @Model.Description ? Deleting this item can not be undone.
        <br />
    </div>
    <div class="modal-footer">
        <input type="submit" class="btn-primary btn" value="Delete shipping calculation" />
    </div>
}